#twemoji-1f3a3 {
  background: url('../sprits/activity.png') -10px -10px;
}

#twemoji-1f3a4 {
  background: url('../sprits/activity.png') -50px -10px;
}

#twemoji-1f3a7 {
  background: url('../sprits/activity.png') -10px -50px;
}

#twemoji-1f3a8 {
  background: url('../sprits/activity.png') -50px -50px;
}

#twemoji-1f3aa {
  background: url('../sprits/activity.png') -90px -10px;
}

#twemoji-1f3ab {
  background: url('../sprits/activity.png') -90px -50px;
}

#twemoji-1f3ac {
  background: url('../sprits/activity.png') -10px -90px;
}

#twemoji-1f3ad {
  background: url('../sprits/activity.png') -50px -90px;
}

#twemoji-1f3ae {
  background: url('../sprits/activity.png') -90px -90px;
}

#twemoji-1f3af {
  background: url('../sprits/activity.png') -130px -10px;
}

#twemoji-1f3b0 {
  background: url('../sprits/activity.png') -130px -50px;
}

#twemoji-1f3b1 {
  background: url('../sprits/activity.png') -130px -90px;
}

#twemoji-1f3b2 {
  background: url('../sprits/activity.png') -10px -130px;
}

#twemoji-1f3b3 {
  background: url('../sprits/activity.png') -50px -130px;
}

#twemoji-1f3b7 {
  background: url('../sprits/activity.png') -90px -130px;
}

#twemoji-1f3b8 {
  background: url('../sprits/activity.png') -130px -130px;
}

#twemoji-1f3b9 {
  background: url('../sprits/activity.png') -170px -10px;
}

#twemoji-1f3ba {
  background: url('../sprits/activity.png') -170px -50px;
}

#twemoji-1f3bb {
  background: url('../sprits/activity.png') -170px -90px;
}

#twemoji-1f3bc {
  background: url('../sprits/activity.png') -170px -130px;
}

#twemoji-1f3bd {
  background: url('../sprits/activity.png') -10px -170px;
}

#twemoji-1f3be {
  background: url('../sprits/activity.png') -50px -170px;
}

#twemoji-1f3bf {
  background: url('../sprits/activity.png') -90px -170px;
}

#twemoji-1f3c0 {
  background: url('../sprits/activity.png') -130px -170px;
}

#twemoji-1f3c2 {
  background: url('../sprits/activity.png') -170px -170px;
}

#twemoji-1f3c4-200d-2640-fe0f {
  background: url('../sprits/activity.png') -210px -10px;
}

#twemoji-1f3c4-200d-2642-fe0f {
  background: url('../sprits/activity.png') -210px -50px;
}

#twemoji-1f3c4 {
  background: url('../sprits/activity.png') -210px -90px;
}

#twemoji-1f3c5 {
  background: url('../sprits/activity.png') -210px -130px;
}

#twemoji-1f3c6 {
  background: url('../sprits/activity.png') -210px -170px;
}

#twemoji-1f3c7 {
  background: url('../sprits/activity.png') -10px -210px;
}

#twemoji-1f3c8 {
  background: url('../sprits/activity.png') -50px -210px;
}

#twemoji-1f3c9 {
  background: url('../sprits/activity.png') -90px -210px;
}

#twemoji-1f3ca-200d-2640-fe0f {
  background: url('../sprits/activity.png') -130px -210px;
}

#twemoji-1f3ca-200d-2642-fe0f {
  background: url('../sprits/activity.png') -170px -210px;
}

#twemoji-1f3ca {
  background: url('../sprits/activity.png') -210px -210px;
}

#twemoji-1f3cb-fe0f-200d-2640-fe0f {
  background: url('../sprits/activity.png') -250px -10px;
}

#twemoji-1f3cb-fe0f-200d-2642-fe0f {
  background: url('../sprits/activity.png') -250px -50px;
}

#twemoji-1f3cb {
  background: url('../sprits/activity.png') -250px -90px;
}

#twemoji-1f3cc-fe0f-200d-2640-fe0f {
  background: url('../sprits/activity.png') -250px -130px;
}

#twemoji-1f3cc-fe0f-200d-2642-fe0f {
  background: url('../sprits/activity.png') -250px -170px;
}

#twemoji-1f3cc {
  background: url('../sprits/activity.png') -250px -210px;
}

#twemoji-1f3cf {
  background: url('../sprits/activity.png') -10px -250px;
}

#twemoji-1f3d0 {
  background: url('../sprits/activity.png') -50px -250px;
}

#twemoji-1f3d1 {
  background: url('../sprits/activity.png') -90px -250px;
}

#twemoji-1f3d2 {
  background: url('../sprits/activity.png') -130px -250px;
}

#twemoji-1f3d3 {
  background: url('../sprits/activity.png') -170px -250px;
}

#twemoji-1f3f8 {
  background: url('../sprits/activity.png') -210px -250px;
}

#twemoji-1f3f9 {
  background: url('../sprits/activity.png') -250px -250px;
}

#twemoji-1f6a3-200d-2640-fe0f {
  background: url('../sprits/activity.png') -290px -10px;
}

#twemoji-1f6a3-200d-2642-fe0f {
  background: url('../sprits/activity.png') -290px -50px;
}

#twemoji-1f6a3 {
  background: url('../sprits/activity.png') -290px -90px;
}

#twemoji-1f6b4-200d-2640-fe0f {
  background: url('../sprits/activity.png') -290px -130px;
}

#twemoji-1f6b4-200d-2642-fe0f {
  background: url('../sprits/activity.png') -290px -170px;
}

#twemoji-1f6b4 {
  background: url('../sprits/activity.png') -290px -210px;
}

#twemoji-1f6b5-200d-2640-fe0f {
  background: url('../sprits/activity.png') -290px -250px;
}

#twemoji-1f6b5-200d-2642-fe0f {
  background: url('../sprits/activity.png') -10px -290px;
}

#twemoji-1f6b5 {
  background: url('../sprits/activity.png') -50px -290px;
}

#twemoji-1f6f7 {
  background: url('../sprits/activity.png') -90px -290px;
}

#twemoji-1f6f6 {
  background: url('../sprits/activity.png') -130px -290px;
}

#twemoji-1f6f9 {
  background: url('../sprits/activity.png') -170px -290px;
}

#twemoji-1f9d7-200d-2640-fe0f {
  background: url('../sprits/activity.png') -210px -290px;
}

#twemoji-1f9d7-200d-2642-fe0f {
  background: url('../sprits/activity.png') -250px -290px;
}

#twemoji-1f9d7 {
  background: url('../sprits/activity.png') -290px -290px;
}

#twemoji-1f9d8-200d-2640-fe0f {
  background: url('../sprits/activity.png') -330px -10px;
}

#twemoji-1f9d8-200d-2642-fe0f {
  background: url('../sprits/activity.png') -330px -50px;
}

#twemoji-1f9d8 {
  background: url('../sprits/activity.png') -330px -90px;
}

#twemoji-1f9e9 {
  background: url('../sprits/activity.png') -330px -130px;
}

#twemoji-1f9f5 {
  background: url('../sprits/activity.png') -330px -170px;
}

#twemoji-1f9f6 {
  background: url('../sprits/activity.png') -330px -210px;
}

#twemoji-1f39f {
  background: url('../sprits/activity.png') -330px -250px;
}

#twemoji-1f93a {
  background: url('../sprits/activity.png') -330px -290px;
}

#twemoji-1f93c-200d-2640-fe0f {
  background: url('../sprits/activity.png') -10px -330px;
}

#twemoji-1f93c-200d-2642-fe0f {
  background: url('../sprits/activity.png') -50px -330px;
}

#twemoji-1f93c {
  background: url('../sprits/activity.png') -90px -330px;
}

#twemoji-1f93d-200d-2640-fe0f {
  background: url('../sprits/activity.png') -130px -330px;
}

#twemoji-1f93d-200d-2642-fe0f {
  background: url('../sprits/activity.png') -170px -330px;
}

#twemoji-1f93d {
  background: url('../sprits/activity.png') -210px -330px;
}

#twemoji-1f93e-200d-2640-fe0f {
  background: url('../sprits/activity.png') -250px -330px;
}

#twemoji-1f93e-200d-2642-fe0f {
  background: url('../sprits/activity.png') -290px -330px;
}

#twemoji-1f93e {
  background: url('../sprits/activity.png') -330px -330px;
}

#twemoji-1f94a {
  background: url('../sprits/activity.png') -370px -10px;
}

#twemoji-1f94b {
  background: url('../sprits/activity.png') -370px -50px;
}

#twemoji-1f94c {
  background: url('../sprits/activity.png') -370px -90px;
}

#twemoji-1f94d {
  background: url('../sprits/activity.png') -370px -130px;
}

#twemoji-1f94e {
  background: url('../sprits/activity.png') -370px -170px;
}

#twemoji-1f94f {
  background: url('../sprits/activity.png') -370px -210px;
}

#twemoji-1f396 {
  background: url('../sprits/activity.png') -370px -250px;
}

#twemoji-1f397 {
  background: url('../sprits/activity.png') -370px -290px;
}

#twemoji-1f574 {
  background: url('../sprits/activity.png') -370px -330px;
}

#twemoji-1f938-200d-2640-fe0f {
  background: url('../sprits/activity.png') -10px -370px;
}

#twemoji-1f938-200d-2642-fe0f {
  background: url('../sprits/activity.png') -50px -370px;
}

#twemoji-1f938 {
  background: url('../sprits/activity.png') -90px -370px;
}

#twemoji-1f939-200d-2640-fe0f {
  background: url('../sprits/activity.png') -130px -370px;
}

#twemoji-1f939-200d-2642-fe0f {
  background: url('../sprits/activity.png') -170px -370px;
}

#twemoji-1f939 {
  background: url('../sprits/activity.png') -210px -370px;
}

#twemoji-1f941 {
  background: url('../sprits/activity.png') -250px -370px;
}

#twemoji-1f945 {
  background: url('../sprits/activity.png') -290px -370px;
}

#twemoji-1f947 {
  background: url('../sprits/activity.png') -330px -370px;
}

#twemoji-1f948 {
  background: url('../sprits/activity.png') -370px -370px;
}

#twemoji-1f949 {
  background: url('../sprits/activity.png') -410px -10px;
}

#twemoji-26bd {
  background: url('../sprits/activity.png') -410px -50px;
}

#twemoji-26be {
  background: url('../sprits/activity.png') -410px -90px;
}

#twemoji-26f3 {
  background: url('../sprits/activity.png') -410px -130px;
}

#twemoji-26f7 {
  background: url('../sprits/activity.png') -410px -170px;
}

#twemoji-26f8 {
  background: url('../sprits/activity.png') -410px -210px;
}

#twemoji-26f9-fe0f-200d-2640-fe0f {
  background: url('../sprits/activity.png') -410px -250px;
}

#twemoji-26f9-fe0f-200d-2642-fe0f {
  background: url('../sprits/activity.png') -410px -290px;
}

#twemoji-26f9 {
  background: url('../sprits/activity.png') -410px -330px;
}

#twemoji-265f {
  background: url('../sprits/activity.png') -410px -370px;
}
