#twemoji-1f3f5 {
  background: url('../sprits/animals-nature.png') -10px -10px;
}

#twemoji-1f4a5 {
  background: url('../sprits/animals-nature.png') -50px -10px;
}

#twemoji-1f4a6 {
  background: url('../sprits/animals-nature.png') -10px -50px;
}

#twemoji-1f4a7 {
  background: url('../sprits/animals-nature.png') -50px -50px;
}

#twemoji-1f4a8 {
  background: url('../sprits/animals-nature.png') -90px -10px;
}

#twemoji-1f4ab {
  background: url('../sprits/animals-nature.png') -90px -50px;
}

#twemoji-1f4ae {
  background: url('../sprits/animals-nature.png') -10px -90px;
}

#twemoji-1f9a0 {
  background: url('../sprits/animals-nature.png') -50px -90px;
}

#twemoji-1f9a1 {
  background: url('../sprits/animals-nature.png') -90px -90px;
}

#twemoji-1f9a2 {
  background: url('../sprits/animals-nature.png') -130px -10px;
}

#twemoji-1f9a5 {
  background: url('../sprits/animals-nature.png') -130px -50px;
}

#twemoji-1f9a6 {
  background: url('../sprits/animals-nature.png') -130px -90px;
}

#twemoji-1f9a7 {
  background: url('../sprits/animals-nature.png') -10px -130px;
}

#twemoji-1f9a8 {
  background: url('../sprits/animals-nature.png') -50px -130px;
}

#twemoji-1f9a9 {
  background: url('../sprits/animals-nature.png') -90px -130px;
}

#twemoji-1f9ae {
  background: url('../sprits/animals-nature.png') -130px -130px;
}

#twemoji-1f30a {
  background: url('../sprits/animals-nature.png') -170px -10px;
}

#twemoji-1f30d {
  background: url('../sprits/animals-nature.png') -170px -50px;
}

#twemoji-1f30e {
  background: url('../sprits/animals-nature.png') -170px -90px;
}

#twemoji-1f30f {
  background: url('../sprits/animals-nature.png') -170px -130px;
}

#twemoji-1f31a {
  background: url('../sprits/animals-nature.png') -10px -170px;
}

#twemoji-1f31b {
  background: url('../sprits/animals-nature.png') -50px -170px;
}

#twemoji-1f31c {
  background: url('../sprits/animals-nature.png') -90px -170px;
}

#twemoji-1f31d {
  background: url('../sprits/animals-nature.png') -130px -170px;
}

#twemoji-1f31e {
  background: url('../sprits/animals-nature.png') -170px -170px;
}

#twemoji-1f31f {
  background: url('../sprits/animals-nature.png') -210px -10px;
}

#twemoji-1f32a {
  background: url('../sprits/animals-nature.png') -210px -50px;
}

#twemoji-1f32b {
  background: url('../sprits/animals-nature.png') -210px -90px;
}

#twemoji-1f32c {
  background: url('../sprits/animals-nature.png') -210px -130px;
}

#twemoji-1f33a {
  background: url('../sprits/animals-nature.png') -210px -170px;
}

#twemoji-1f33b {
  background: url('../sprits/animals-nature.png') -10px -210px;
}

#twemoji-1f33c {
  background: url('../sprits/animals-nature.png') -50px -210px;
}

#twemoji-1f33e {
  background: url('../sprits/animals-nature.png') -90px -210px;
}

#twemoji-1f33f {
  background: url('../sprits/animals-nature.png') -130px -210px;
}

#twemoji-1f38b {
  background: url('../sprits/animals-nature.png') -170px -210px;
}

#twemoji-1f38d {
  background: url('../sprits/animals-nature.png') -210px -210px;
}

#twemoji-1f40a {
  background: url('../sprits/animals-nature.png') -250px -10px;
}

#twemoji-1f40b {
  background: url('../sprits/animals-nature.png') -250px -50px;
}

#twemoji-1f40c {
  background: url('../sprits/animals-nature.png') -250px -90px;
}

#twemoji-1f40d {
  background: url('../sprits/animals-nature.png') -250px -130px;
}

#twemoji-1f40e {
  background: url('../sprits/animals-nature.png') -250px -170px;
}

#twemoji-1f40f {
  background: url('../sprits/animals-nature.png') -250px -210px;
}

#twemoji-1f41a {
  background: url('../sprits/animals-nature.png') -10px -250px;
}

#twemoji-1f41b {
  background: url('../sprits/animals-nature.png') -50px -250px;
}

#twemoji-1f41c {
  background: url('../sprits/animals-nature.png') -90px -250px;
}

#twemoji-1f41d {
  background: url('../sprits/animals-nature.png') -130px -250px;
}

#twemoji-1f41e {
  background: url('../sprits/animals-nature.png') -170px -250px;
}

#twemoji-1f41f {
  background: url('../sprits/animals-nature.png') -210px -250px;
}

#twemoji-1f42a {
  background: url('../sprits/animals-nature.png') -250px -250px;
}

#twemoji-1f42b {
  background: url('../sprits/animals-nature.png') -290px -10px;
}

#twemoji-1f42c {
  background: url('../sprits/animals-nature.png') -290px -50px;
}

#twemoji-1f42d {
  background: url('../sprits/animals-nature.png') -290px -90px;
}

#twemoji-1f42e {
  background: url('../sprits/animals-nature.png') -290px -130px;
}

#twemoji-1f42f {
  background: url('../sprits/animals-nature.png') -290px -170px;
}

#twemoji-1f43a {
  background: url('../sprits/animals-nature.png') -290px -210px;
}

#twemoji-1f43b {
  background: url('../sprits/animals-nature.png') -290px -250px;
}

#twemoji-1f43c {
  background: url('../sprits/animals-nature.png') -10px -290px;
}

#twemoji-1f43d {
  background: url('../sprits/animals-nature.png') -50px -290px;
}

#twemoji-1f43e {
  background: url('../sprits/animals-nature.png') -90px -290px;
}

#twemoji-1f43f {
  background: url('../sprits/animals-nature.png') -130px -290px;
}

#twemoji-1f54a {
  background: url('../sprits/animals-nature.png') -170px -290px;
}

#twemoji-1f64a {
  background: url('../sprits/animals-nature.png') -210px -290px;
}

#twemoji-1f98a {
  background: url('../sprits/animals-nature.png') -250px -290px;
}

#twemoji-1f98b {
  background: url('../sprits/animals-nature.png') -290px -290px;
}

#twemoji-1f98c {
  background: url('../sprits/animals-nature.png') -330px -10px;
}

#twemoji-1f98d {
  background: url('../sprits/animals-nature.png') -330px -50px;
}

#twemoji-1f98e {
  background: url('../sprits/animals-nature.png') -330px -90px;
}

#twemoji-1f98f {
  background: url('../sprits/animals-nature.png') -330px -130px;
}

#twemoji-1f99a {
  background: url('../sprits/animals-nature.png') -330px -170px;
}

#twemoji-1f99b {
  background: url('../sprits/animals-nature.png') -330px -210px;
}

#twemoji-1f99c {
  background: url('../sprits/animals-nature.png') -330px -250px;
}

#twemoji-1f99d {
  background: url('../sprits/animals-nature.png') -330px -290px;
}

#twemoji-1f99e {
  background: url('../sprits/animals-nature.png') -10px -330px;
}

#twemoji-1f99f {
  background: url('../sprits/animals-nature.png') -50px -330px;
}

#twemoji-1f308 {
  background: url('../sprits/animals-nature.png') -90px -330px;
}

#twemoji-1f310 {
  background: url('../sprits/animals-nature.png') -130px -330px;
}

#twemoji-1f311 {
  background: url('../sprits/animals-nature.png') -170px -330px;
}

#twemoji-1f312 {
  background: url('../sprits/animals-nature.png') -210px -330px;
}

#twemoji-1f313 {
  background: url('../sprits/animals-nature.png') -250px -330px;
}

#twemoji-1f314 {
  background: url('../sprits/animals-nature.png') -290px -330px;
}

#twemoji-1f315 {
  background: url('../sprits/animals-nature.png') -330px -330px;
}

#twemoji-1f316 {
  background: url('../sprits/animals-nature.png') -370px -10px;
}

#twemoji-1f317 {
  background: url('../sprits/animals-nature.png') -370px -50px;
}

#twemoji-1f318 {
  background: url('../sprits/animals-nature.png') -370px -90px;
}

#twemoji-1f319 {
  background: url('../sprits/animals-nature.png') -370px -130px;
}

#twemoji-1f320 {
  background: url('../sprits/animals-nature.png') -370px -170px;
}

#twemoji-1f324 {
  background: url('../sprits/animals-nature.png') -370px -210px;
}

#twemoji-1f325 {
  background: url('../sprits/animals-nature.png') -370px -250px;
}

#twemoji-1f326 {
  background: url('../sprits/animals-nature.png') -370px -290px;
}

#twemoji-1f327 {
  background: url('../sprits/animals-nature.png') -370px -330px;
}

#twemoji-1f328 {
  background: url('../sprits/animals-nature.png') -10px -370px;
}

#twemoji-1f329 {
  background: url('../sprits/animals-nature.png') -50px -370px;
}

#twemoji-1f330 {
  background: url('../sprits/animals-nature.png') -90px -370px;
}

#twemoji-1f331 {
  background: url('../sprits/animals-nature.png') -130px -370px;
}

#twemoji-1f332 {
  background: url('../sprits/animals-nature.png') -170px -370px;
}

#twemoji-1f333 {
  background: url('../sprits/animals-nature.png') -210px -370px;
}

#twemoji-1f334 {
  background: url('../sprits/animals-nature.png') -250px -370px;
}

#twemoji-1f335 {
  background: url('../sprits/animals-nature.png') -290px -370px;
}

#twemoji-1f337 {
  background: url('../sprits/animals-nature.png') -330px -370px;
}

#twemoji-1f338 {
  background: url('../sprits/animals-nature.png') -370px -370px;
}

#twemoji-1f339 {
  background: url('../sprits/animals-nature.png') -410px -10px;
}

#twemoji-1f340 {
  background: url('../sprits/animals-nature.png') -410px -50px;
}

#twemoji-1f341 {
  background: url('../sprits/animals-nature.png') -410px -90px;
}

#twemoji-1f342 {
  background: url('../sprits/animals-nature.png') -410px -130px;
}

#twemoji-1f343 {
  background: url('../sprits/animals-nature.png') -410px -170px;
}

#twemoji-1f344 {
  background: url('../sprits/animals-nature.png') -410px -210px;
}

#twemoji-1f384 {
  background: url('../sprits/animals-nature.png') -410px -250px;
}

#twemoji-1f400 {
  background: url('../sprits/animals-nature.png') -410px -290px;
}

#twemoji-1f401 {
  background: url('../sprits/animals-nature.png') -410px -330px;
}

#twemoji-1f402 {
  background: url('../sprits/animals-nature.png') -410px -370px;
}

#twemoji-1f403 {
  background: url('../sprits/animals-nature.png') -10px -410px;
}

#twemoji-1f404 {
  background: url('../sprits/animals-nature.png') -50px -410px;
}

#twemoji-1f405 {
  background: url('../sprits/animals-nature.png') -90px -410px;
}

#twemoji-1f406 {
  background: url('../sprits/animals-nature.png') -130px -410px;
}

#twemoji-1f407 {
  background: url('../sprits/animals-nature.png') -170px -410px;
}

#twemoji-1f408 {
  background: url('../sprits/animals-nature.png') -210px -410px;
}

#twemoji-1f409 {
  background: url('../sprits/animals-nature.png') -250px -410px;
}

#twemoji-1f410 {
  background: url('../sprits/animals-nature.png') -290px -410px;
}

#twemoji-1f411 {
  background: url('../sprits/animals-nature.png') -330px -410px;
}

#twemoji-1f412 {
  background: url('../sprits/animals-nature.png') -370px -410px;
}

#twemoji-1f413 {
  background: url('../sprits/animals-nature.png') -410px -410px;
}

#twemoji-1f414 {
  background: url('../sprits/animals-nature.png') -450px -10px;
}

#twemoji-1f415-200d-1f9ba {
  background: url('../sprits/animals-nature.png') -450px -50px;
}

#twemoji-1f415 {
  background: url('../sprits/animals-nature.png') -450px -90px;
}

#twemoji-1f416 {
  background: url('../sprits/animals-nature.png') -450px -130px;
}

#twemoji-1f417 {
  background: url('../sprits/animals-nature.png') -450px -170px;
}

#twemoji-1f418 {
  background: url('../sprits/animals-nature.png') -450px -210px;
}

#twemoji-1f419 {
  background: url('../sprits/animals-nature.png') -450px -250px;
}

#twemoji-1f420 {
  background: url('../sprits/animals-nature.png') -450px -290px;
}

#twemoji-1f421 {
  background: url('../sprits/animals-nature.png') -450px -330px;
}

#twemoji-1f422 {
  background: url('../sprits/animals-nature.png') -450px -370px;
}

#twemoji-1f423 {
  background: url('../sprits/animals-nature.png') -450px -410px;
}

#twemoji-1f424 {
  background: url('../sprits/animals-nature.png') -10px -450px;
}

#twemoji-1f425 {
  background: url('../sprits/animals-nature.png') -50px -450px;
}

#twemoji-1f426 {
  background: url('../sprits/animals-nature.png') -90px -450px;
}

#twemoji-1f427 {
  background: url('../sprits/animals-nature.png') -130px -450px;
}

#twemoji-1f428 {
  background: url('../sprits/animals-nature.png') -170px -450px;
}

#twemoji-1f429 {
  background: url('../sprits/animals-nature.png') -210px -450px;
}

#twemoji-1f430 {
  background: url('../sprits/animals-nature.png') -250px -450px;
}

#twemoji-1f431 {
  background: url('../sprits/animals-nature.png') -290px -450px;
}

#twemoji-1f432 {
  background: url('../sprits/animals-nature.png') -330px -450px;
}

#twemoji-1f433 {
  background: url('../sprits/animals-nature.png') -370px -450px;
}

#twemoji-1f434 {
  background: url('../sprits/animals-nature.png') -410px -450px;
}

#twemoji-1f435 {
  background: url('../sprits/animals-nature.png') -450px -450px;
}

#twemoji-1f436 {
  background: url('../sprits/animals-nature.png') -490px -10px;
}

#twemoji-1f437 {
  background: url('../sprits/animals-nature.png') -490px -50px;
}

#twemoji-1f438 {
  background: url('../sprits/animals-nature.png') -490px -90px;
}

#twemoji-1f439 {
  background: url('../sprits/animals-nature.png') -490px -130px;
}

#twemoji-1f490 {
  background: url('../sprits/animals-nature.png') -490px -170px;
}

#twemoji-1f525 {
  background: url('../sprits/animals-nature.png') -490px -210px;
}

#twemoji-1f577 {
  background: url('../sprits/animals-nature.png') -490px -250px;
}

#twemoji-1f578 {
  background: url('../sprits/animals-nature.png') -490px -290px;
}

#twemoji-1f648 {
  background: url('../sprits/animals-nature.png') -490px -330px;
}

#twemoji-1f649 {
  background: url('../sprits/animals-nature.png') -490px -370px;
}

#twemoji-1f940 {
  background: url('../sprits/animals-nature.png') -490px -410px;
}

#twemoji-1f980 {
  background: url('../sprits/animals-nature.png') -490px -450px;
}

#twemoji-1f981 {
  background: url('../sprits/animals-nature.png') -10px -490px;
}

#twemoji-1f982 {
  background: url('../sprits/animals-nature.png') -50px -490px;
}

#twemoji-1f983 {
  background: url('../sprits/animals-nature.png') -90px -490px;
}

#twemoji-1f984 {
  background: url('../sprits/animals-nature.png') -130px -490px;
}

#twemoji-1f985 {
  background: url('../sprits/animals-nature.png') -170px -490px;
}

#twemoji-1f986 {
  background: url('../sprits/animals-nature.png') -210px -490px;
}

#twemoji-1f987 {
  background: url('../sprits/animals-nature.png') -250px -490px;
}

#twemoji-1f988 {
  background: url('../sprits/animals-nature.png') -290px -490px;
}

#twemoji-1f989 {
  background: url('../sprits/animals-nature.png') -330px -490px;
}

#twemoji-1f990 {
  background: url('../sprits/animals-nature.png') -370px -490px;
}

#twemoji-1f991 {
  background: url('../sprits/animals-nature.png') -410px -490px;
}

#twemoji-1f992 {
  background: url('../sprits/animals-nature.png') -450px -490px;
}

#twemoji-1f993 {
  background: url('../sprits/animals-nature.png') -490px -490px;
}

#twemoji-1f994 {
  background: url('../sprits/animals-nature.png') -530px -10px;
}

#twemoji-1f995 {
  background: url('../sprits/animals-nature.png') -530px -50px;
}

#twemoji-1f996 {
  background: url('../sprits/animals-nature.png') -530px -90px;
}

#twemoji-1f997 {
  background: url('../sprits/animals-nature.png') -530px -130px;
}

#twemoji-1f998 {
  background: url('../sprits/animals-nature.png') -530px -170px;
}

#twemoji-1f999 {
  background: url('../sprits/animals-nature.png') -530px -210px;
}

#twemoji-2b50 {
  background: url('../sprits/animals-nature.png') -530px -250px;
}

#twemoji-26a1 {
  background: url('../sprits/animals-nature.png') -530px -290px;
}

#twemoji-26c4 {
  background: url('../sprits/animals-nature.png') -530px -330px;
}

#twemoji-26c5 {
  background: url('../sprits/animals-nature.png') -530px -370px;
}

#twemoji-26c8 {
  background: url('../sprits/animals-nature.png') -530px -410px;
}

#twemoji-2600 {
  background: url('../sprits/animals-nature.png') -530px -450px;
}

#twemoji-2601 {
  background: url('../sprits/animals-nature.png') -530px -490px;
}

#twemoji-2602 {
  background: url('../sprits/animals-nature.png') -10px -530px;
}

#twemoji-2603 {
  background: url('../sprits/animals-nature.png') -50px -530px;
}

#twemoji-2604 {
  background: url('../sprits/animals-nature.png') -90px -530px;
}

#twemoji-2614 {
  background: url('../sprits/animals-nature.png') -130px -530px;
}

#twemoji-2618 {
  background: url('../sprits/animals-nature.png') -170px -530px;
}

#twemoji-2728 {
  background: url('../sprits/animals-nature.png') -210px -530px;
}

#twemoji-2744 {
  background: url('../sprits/animals-nature.png') -250px -530px;
}
