#twemoji-1f3a9 {
  background: url('../sprits/smileys-people.png') -10px -10px;
}

#twemoji-1f3c3-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -50px -10px;
}

#twemoji-1f3c3-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -10px -50px;
}

#twemoji-1f3c3 {
  background: url('../sprits/smileys-people.png') -50px -50px;
}

#twemoji-1f4a9 {
  background: url('../sprits/smileys-people.png') -90px -10px;
}

#twemoji-1f4aa {
  background: url('../sprits/smileys-people.png') -90px -50px;
}

#twemoji-1f4bc {
  background: url('../sprits/smileys-people.png') -10px -90px;
}

#twemoji-1f5e3 {
  background: url('../sprits/smileys-people.png') -50px -90px;
}

#twemoji-1f6b6-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -90px -90px;
}

#twemoji-1f6b6-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -130px -10px;
}

#twemoji-1f6b6 {
  background: url('../sprits/smileys-people.png') -130px -50px;
}

#twemoji-1f9b4 {
  background: url('../sprits/smileys-people.png') -130px -90px;
}

#twemoji-1f9b5 {
  background: url('../sprits/smileys-people.png') -10px -130px;
}

#twemoji-1f9b6 {
  background: url('../sprits/smileys-people.png') -50px -130px;
}

#twemoji-1f9b7 {
  background: url('../sprits/smileys-people.png') -90px -130px;
}

#twemoji-1f9b8-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -130px -130px;
}

#twemoji-1f9b8-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -170px -10px;
}

#twemoji-1f9b8 {
  background: url('../sprits/smileys-people.png') -170px -50px;
}

#twemoji-1f9b9-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -170px -90px;
}

#twemoji-1f9b9-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -170px -130px;
}

#twemoji-1f9b9 {
  background: url('../sprits/smileys-people.png') -10px -170px;
}

#twemoji-1f9ba {
  background: url('../sprits/smileys-people.png') -50px -170px;
}

#twemoji-1f9bb {
  background: url('../sprits/smileys-people.png') -90px -170px;
}

#twemoji-1f9be {
  background: url('../sprits/smileys-people.png') -130px -170px;
}

#twemoji-1f9bf {
  background: url('../sprits/smileys-people.png') -170px -170px;
}

#twemoji-1f9cd-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -210px -10px;
}

#twemoji-1f9cd-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -210px -50px;
}

#twemoji-1f9cd {
  background: url('../sprits/smileys-people.png') -210px -90px;
}

#twemoji-1f9ce-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -210px -130px;
}

#twemoji-1f9ce-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -210px -170px;
}

#twemoji-1f9ce {
  background: url('../sprits/smileys-people.png') -10px -210px;
}

#twemoji-1f9cf-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -50px -210px;
}

#twemoji-1f9cf-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -90px -210px;
}

#twemoji-1f9cf {
  background: url('../sprits/smileys-people.png') -130px -210px;
}

#twemoji-1f9d0 {
  background: url('../sprits/smileys-people.png') -170px -210px;
}

#twemoji-1f9d1-200d-1f3a4 {
  background: url('../sprits/smileys-people.png') -210px -210px;
}

#twemoji-1f9d1-200d-1f3a8 {
  background: url('../sprits/smileys-people.png') -250px -10px;
}

#twemoji-1f9d1-200d-1f3eb {
  background: url('../sprits/smileys-people.png') -250px -50px;
}

#twemoji-1f9d1-200d-1f3ed {
  background: url('../sprits/smileys-people.png') -250px -90px;
}

#twemoji-1f9d1-200d-1f4bb {
  background: url('../sprits/smileys-people.png') -250px -130px;
}

#twemoji-1f9d1-200d-1f4bc {
  background: url('../sprits/smileys-people.png') -250px -170px;
}

#twemoji-1f9d1-200d-1f9af {
  background: url('../sprits/smileys-people.png') -250px -210px;
}

#twemoji-1f9d1-200d-1f9b0 {
  background: url('../sprits/smileys-people.png') -10px -250px;
}

#twemoji-1f9d1-200d-1f9b1 {
  background: url('../sprits/smileys-people.png') -50px -250px;
}

#twemoji-1f9d1-200d-1f9b2 {
  background: url('../sprits/smileys-people.png') -90px -250px;
}

#twemoji-1f9d1-200d-1f9b3 {
  background: url('../sprits/smileys-people.png') -130px -250px;
}

#twemoji-1f9d1-200d-1f9bc {
  background: url('../sprits/smileys-people.png') -170px -250px;
}

#twemoji-1f9d1-200d-1f9bd {
  background: url('../sprits/smileys-people.png') -210px -250px;
}

#twemoji-1f9d1-200d-1f33e {
  background: url('../sprits/smileys-people.png') -250px -250px;
}

#twemoji-1f9d1-200d-1f37c {
  background: url('../sprits/smileys-people.png') -290px -10px;
}

#twemoji-1f9d1-200d-1f52c {
  background: url('../sprits/smileys-people.png') -290px -50px;
}

#twemoji-1f9d1-200d-1f91d-200d-1f9d1 {
  background: url('../sprits/smileys-people.png') -290px -90px;
}

#twemoji-1f9d1-200d-1f373 {
  background: url('../sprits/smileys-people.png') -290px -130px;
}

#twemoji-1f9d1-200d-1f393 {
  background: url('../sprits/smileys-people.png') -290px -170px;
}

#twemoji-1f9d1-200d-1f527 {
  background: url('../sprits/smileys-people.png') -290px -210px;
}

#twemoji-1f9d1-200d-1f680 {
  background: url('../sprits/smileys-people.png') -290px -250px;
}

#twemoji-1f9d1-200d-1f692 {
  background: url('../sprits/smileys-people.png') -10px -290px;
}

#twemoji-1f9d1-200d-2695-fe0f {
  background: url('../sprits/smileys-people.png') -50px -290px;
}

#twemoji-1f9d1-200d-2696-fe0f {
  background: url('../sprits/smileys-people.png') -90px -290px;
}

#twemoji-1f9d1-200d-2708-fe0f {
  background: url('../sprits/smileys-people.png') -130px -290px;
}

#twemoji-1f9d1 {
  background: url('../sprits/smileys-people.png') -170px -290px;
}

#twemoji-1f9d2 {
  background: url('../sprits/smileys-people.png') -210px -290px;
}

#twemoji-1f9d3 {
  background: url('../sprits/smileys-people.png') -250px -290px;
}

#twemoji-1f9d4 {
  background: url('../sprits/smileys-people.png') -290px -290px;
}

#twemoji-1f9d5 {
  background: url('../sprits/smileys-people.png') -330px -10px;
}

#twemoji-1f9d6-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -330px -50px;
}

#twemoji-1f9d6-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -330px -90px;
}

#twemoji-1f9d6 {
  background: url('../sprits/smileys-people.png') -330px -130px;
}

#twemoji-1f9d8 {
  background: url('../sprits/smileys-people.png') -330px -170px;
}

#twemoji-1f9d9-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -330px -210px;
}

#twemoji-1f9d9-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -330px -250px;
}

#twemoji-1f9d9 {
  background: url('../sprits/smileys-people.png') -330px -290px;
}

#twemoji-1f9da-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -10px -330px;
}

#twemoji-1f9da-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -50px -330px;
}

#twemoji-1f9da {
  background: url('../sprits/smileys-people.png') -90px -330px;
}

#twemoji-1f9db-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -130px -330px;
}

#twemoji-1f9db-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -170px -330px;
}

#twemoji-1f9db {
  background: url('../sprits/smileys-people.png') -210px -330px;
}

#twemoji-1f9dc-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -250px -330px;
}

#twemoji-1f9dc-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -290px -330px;
}

#twemoji-1f9dc {
  background: url('../sprits/smileys-people.png') -330px -330px;
}

#twemoji-1f9dd-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -370px -10px;
}

#twemoji-1f9dd-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -370px -50px;
}

#twemoji-1f9dd {
  background: url('../sprits/smileys-people.png') -370px -90px;
}

#twemoji-1f9de-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -370px -130px;
}

#twemoji-1f9de-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -370px -170px;
}

#twemoji-1f9de {
  background: url('../sprits/smileys-people.png') -370px -210px;
}

#twemoji-1f9df-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -370px -250px;
}

#twemoji-1f9df-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -370px -290px;
}

#twemoji-1f9df {
  background: url('../sprits/smileys-people.png') -370px -330px;
}

#twemoji-1f9e0 {
  background: url('../sprits/smileys-people.png') -10px -370px;
}

#twemoji-1f9e2 {
  background: url('../sprits/smileys-people.png') -50px -370px;
}

#twemoji-1f9e3 {
  background: url('../sprits/smileys-people.png') -90px -370px;
}

#twemoji-1f9e4 {
  background: url('../sprits/smileys-people.png') -130px -370px;
}

#twemoji-1f9e5 {
  background: url('../sprits/smileys-people.png') -170px -370px;
}

#twemoji-1f9e6 {
  background: url('../sprits/smileys-people.png') -210px -370px;
}

#twemoji-1f9f3 {
  background: url('../sprits/smileys-people.png') -250px -370px;
}

#twemoji-1f9f5 {
  background: url('../sprits/smileys-people.png') -290px -370px;
}

#twemoji-1f9f6 {
  background: url('../sprits/smileys-people.png') -330px -370px;
}

#twemoji-1f44a {
  background: url('../sprits/smileys-people.png') -370px -370px;
}

#twemoji-1f44b {
  background: url('../sprits/smileys-people.png') -410px -10px;
}

#twemoji-1f44c {
  background: url('../sprits/smileys-people.png') -410px -50px;
}

#twemoji-1f44d {
  background: url('../sprits/smileys-people.png') -410px -90px;
}

#twemoji-1f44e {
  background: url('../sprits/smileys-people.png') -410px -130px;
}

#twemoji-1f44f {
  background: url('../sprits/smileys-people.png') -410px -170px;
}

#twemoji-1f45a {
  background: url('../sprits/smileys-people.png') -410px -210px;
}

#twemoji-1f45b {
  background: url('../sprits/smileys-people.png') -410px -250px;
}

#twemoji-1f45c {
  background: url('../sprits/smileys-people.png') -410px -290px;
}

#twemoji-1f45d {
  background: url('../sprits/smileys-people.png') -410px -330px;
}

#twemoji-1f45e {
  background: url('../sprits/smileys-people.png') -410px -370px;
}

#twemoji-1f45f {
  background: url('../sprits/smileys-people.png') -10px -410px;
}

#twemoji-1f46a {
  background: url('../sprits/smileys-people.png') -50px -410px;
}

#twemoji-1f46b {
  background: url('../sprits/smileys-people.png') -90px -410px;
}

#twemoji-1f46c {
  background: url('../sprits/smileys-people.png') -130px -410px;
}

#twemoji-1f46d {
  background: url('../sprits/smileys-people.png') -170px -410px;
}

#twemoji-1f46e-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -210px -410px;
}

#twemoji-1f46e-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -250px -410px;
}

#twemoji-1f46e {
  background: url('../sprits/smileys-people.png') -290px -410px;
}

#twemoji-1f46f-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -330px -410px;
}

#twemoji-1f46f-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -370px -410px;
}

#twemoji-1f46f {
  background: url('../sprits/smileys-people.png') -410px -410px;
}

#twemoji-1f47a {
  background: url('../sprits/smileys-people.png') -450px -10px;
}

#twemoji-1f47b {
  background: url('../sprits/smileys-people.png') -450px -50px;
}

#twemoji-1f47c {
  background: url('../sprits/smileys-people.png') -450px -90px;
}

#twemoji-1f47d {
  background: url('../sprits/smileys-people.png') -450px -130px;
}

#twemoji-1f47e {
  background: url('../sprits/smileys-people.png') -450px -170px;
}

#twemoji-1f47f {
  background: url('../sprits/smileys-people.png') -450px -210px;
}

#twemoji-1f48b {
  background: url('../sprits/smileys-people.png') -450px -250px;
}

#twemoji-1f48d {
  background: url('../sprits/smileys-people.png') -450px -290px;
}

#twemoji-1f48f {
  background: url('../sprits/smileys-people.png') -450px -330px;
}

#twemoji-1f57a {
  background: url('../sprits/smileys-people.png') -450px -370px;
}

#twemoji-1f60a {
  background: url('../sprits/smileys-people.png') -450px -410px;
}

#twemoji-1f60b {
  background: url('../sprits/smileys-people.png') -10px -450px;
}

#twemoji-1f60c {
  background: url('../sprits/smileys-people.png') -50px -450px;
}

#twemoji-1f60d {
  background: url('../sprits/smileys-people.png') -90px -450px;
}

#twemoji-1f60e {
  background: url('../sprits/smileys-people.png') -130px -450px;
}

#twemoji-1f60f {
  background: url('../sprits/smileys-people.png') -170px -450px;
}

#twemoji-1f61a {
  background: url('../sprits/smileys-people.png') -210px -450px;
}

#twemoji-1f61b {
  background: url('../sprits/smileys-people.png') -250px -450px;
}

#twemoji-1f61c {
  background: url('../sprits/smileys-people.png') -290px -450px;
}

#twemoji-1f61d {
  background: url('../sprits/smileys-people.png') -330px -450px;
}

#twemoji-1f61e {
  background: url('../sprits/smileys-people.png') -370px -450px;
}

#twemoji-1f61f {
  background: url('../sprits/smileys-people.png') -410px -450px;
}

#twemoji-1f62a {
  background: url('../sprits/smileys-people.png') -450px -450px;
}

#twemoji-1f62b {
  background: url('../sprits/smileys-people.png') -490px -10px;
}

#twemoji-1f62c {
  background: url('../sprits/smileys-people.png') -490px -50px;
}

#twemoji-1f62d {
  background: url('../sprits/smileys-people.png') -490px -90px;
}

#twemoji-1f62e {
  background: url('../sprits/smileys-people.png') -490px -130px;
}

#twemoji-1f62f {
  background: url('../sprits/smileys-people.png') -490px -170px;
}

#twemoji-1f63a {
  background: url('../sprits/smileys-people.png') -490px -210px;
}

#twemoji-1f63b {
  background: url('../sprits/smileys-people.png') -490px -250px;
}

#twemoji-1f63c {
  background: url('../sprits/smileys-people.png') -490px -290px;
}

#twemoji-1f63d {
  background: url('../sprits/smileys-people.png') -490px -330px;
}

#twemoji-1f63e {
  background: url('../sprits/smileys-people.png') -490px -370px;
}

#twemoji-1f63f {
  background: url('../sprits/smileys-people.png') -490px -410px;
}

#twemoji-1f64b-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -490px -450px;
}

#twemoji-1f64b-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -10px -490px;
}

#twemoji-1f64b {
  background: url('../sprits/smileys-people.png') -50px -490px;
}

#twemoji-1f64c {
  background: url('../sprits/smileys-people.png') -90px -490px;
}

#twemoji-1f64d-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -130px -490px;
}

#twemoji-1f64d-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -170px -490px;
}

#twemoji-1f64d {
  background: url('../sprits/smileys-people.png') -210px -490px;
}

#twemoji-1f64e-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -250px -490px;
}

#twemoji-1f64e-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -290px -490px;
}

#twemoji-1f64e {
  background: url('../sprits/smileys-people.png') -330px -490px;
}

#twemoji-1f64f {
  background: url('../sprits/smileys-people.png') -370px -490px;
}

#twemoji-1f90f {
  background: url('../sprits/smileys-people.png') -410px -490px;
}

#twemoji-1f91a {
  background: url('../sprits/smileys-people.png') -450px -490px;
}

#twemoji-1f91b {
  background: url('../sprits/smileys-people.png') -490px -490px;
}

#twemoji-1f91c {
  background: url('../sprits/smileys-people.png') -530px -10px;
}

#twemoji-1f91d {
  background: url('../sprits/smileys-people.png') -530px -50px;
}

#twemoji-1f91e {
  background: url('../sprits/smileys-people.png') -530px -90px;
}

#twemoji-1f91f {
  background: url('../sprits/smileys-people.png') -530px -130px;
}

#twemoji-1f92a {
  background: url('../sprits/smileys-people.png') -530px -170px;
}

#twemoji-1f92b {
  background: url('../sprits/smileys-people.png') -530px -210px;
}

#twemoji-1f92c {
  background: url('../sprits/smileys-people.png') -530px -250px;
}

#twemoji-1f92d {
  background: url('../sprits/smileys-people.png') -530px -290px;
}

#twemoji-1f92e {
  background: url('../sprits/smileys-people.png') -530px -330px;
}

#twemoji-1f92f {
  background: url('../sprits/smileys-people.png') -530px -370px;
}

#twemoji-1f97a {
  background: url('../sprits/smileys-people.png') -530px -410px;
}

#twemoji-1f97b {
  background: url('../sprits/smileys-people.png') -530px -450px;
}

#twemoji-1f97c {
  background: url('../sprits/smileys-people.png') -530px -490px;
}

#twemoji-1f97d {
  background: url('../sprits/smileys-people.png') -10px -530px;
}

#twemoji-1f97e {
  background: url('../sprits/smileys-people.png') -50px -530px;
}

#twemoji-1f97f {
  background: url('../sprits/smileys-people.png') -90px -530px;
}

#twemoji-1f302 {
  background: url('../sprits/smileys-people.png') -130px -530px;
}

#twemoji-1f383 {
  background: url('../sprits/smileys-people.png') -170px -530px;
}

#twemoji-1f385 {
  background: url('../sprits/smileys-people.png') -210px -530px;
}

#twemoji-1f392 {
  background: url('../sprits/smileys-people.png') -250px -530px;
}

#twemoji-1f393 {
  background: url('../sprits/smileys-people.png') -290px -530px;
}

#twemoji-1f440 {
  background: url('../sprits/smileys-people.png') -330px -530px;
}

#twemoji-1f441 {
  background: url('../sprits/smileys-people.png') -370px -530px;
}

#twemoji-1f442 {
  background: url('../sprits/smileys-people.png') -410px -530px;
}

#twemoji-1f443 {
  background: url('../sprits/smileys-people.png') -450px -530px;
}

#twemoji-1f444 {
  background: url('../sprits/smileys-people.png') -490px -530px;
}

#twemoji-1f445 {
  background: url('../sprits/smileys-people.png') -530px -530px;
}

#twemoji-1f446 {
  background: url('../sprits/smileys-people.png') -570px -10px;
}

#twemoji-1f447 {
  background: url('../sprits/smileys-people.png') -570px -50px;
}

#twemoji-1f448 {
  background: url('../sprits/smileys-people.png') -570px -90px;
}

#twemoji-1f449 {
  background: url('../sprits/smileys-people.png') -570px -130px;
}

#twemoji-1f450 {
  background: url('../sprits/smileys-people.png') -570px -170px;
}

#twemoji-1f451 {
  background: url('../sprits/smileys-people.png') -570px -210px;
}

#twemoji-1f452 {
  background: url('../sprits/smileys-people.png') -570px -250px;
}

#twemoji-1f453 {
  background: url('../sprits/smileys-people.png') -570px -290px;
}

#twemoji-1f454 {
  background: url('../sprits/smileys-people.png') -570px -330px;
}

#twemoji-1f455 {
  background: url('../sprits/smileys-people.png') -570px -370px;
}

#twemoji-1f456 {
  background: url('../sprits/smileys-people.png') -570px -410px;
}

#twemoji-1f457 {
  background: url('../sprits/smileys-people.png') -570px -450px;
}

#twemoji-1f458 {
  background: url('../sprits/smileys-people.png') -570px -490px;
}

#twemoji-1f459 {
  background: url('../sprits/smileys-people.png') -570px -530px;
}

#twemoji-1f460 {
  background: url('../sprits/smileys-people.png') -10px -570px;
}

#twemoji-1f461 {
  background: url('../sprits/smileys-people.png') -50px -570px;
}

#twemoji-1f462 {
  background: url('../sprits/smileys-people.png') -90px -570px;
}

#twemoji-1f463 {
  background: url('../sprits/smileys-people.png') -130px -570px;
}

#twemoji-1f464 {
  background: url('../sprits/smileys-people.png') -170px -570px;
}

#twemoji-1f465 {
  background: url('../sprits/smileys-people.png') -210px -570px;
}

#twemoji-1f466 {
  background: url('../sprits/smileys-people.png') -250px -570px;
}

#twemoji-1f467 {
  background: url('../sprits/smileys-people.png') -290px -570px;
}

#twemoji-1f468-200d-1f3a4 {
  background: url('../sprits/smileys-people.png') -330px -570px;
}

#twemoji-1f468-200d-1f3a8 {
  background: url('../sprits/smileys-people.png') -370px -570px;
}

#twemoji-1f468-200d-1f3eb {
  background: url('../sprits/smileys-people.png') -410px -570px;
}

#twemoji-1f468-200d-1f3ed {
  background: url('../sprits/smileys-people.png') -450px -570px;
}

#twemoji-1f468-200d-1f4bb {
  background: url('../sprits/smileys-people.png') -490px -570px;
}

#twemoji-1f468-200d-1f4bc {
  background: url('../sprits/smileys-people.png') -530px -570px;
}

#twemoji-1f468-200d-1f9af {
  background: url('../sprits/smileys-people.png') -570px -570px;
}

#twemoji-1f468-200d-1f9b0 {
  background: url('../sprits/smileys-people.png') -610px -10px;
}

#twemoji-1f468-200d-1f9b1 {
  background: url('../sprits/smileys-people.png') -610px -50px;
}

#twemoji-1f468-200d-1f9b2 {
  background: url('../sprits/smileys-people.png') -610px -90px;
}

#twemoji-1f468-200d-1f9b3 {
  background: url('../sprits/smileys-people.png') -610px -130px;
}

#twemoji-1f468-200d-1f9bc {
  background: url('../sprits/smileys-people.png') -610px -170px;
}

#twemoji-1f468-200d-1f9bd {
  background: url('../sprits/smileys-people.png') -610px -210px;
}

#twemoji-1f468-200d-1f33e {
  background: url('../sprits/smileys-people.png') -610px -250px;
}

#twemoji-1f468-200d-1f52c {
  background: url('../sprits/smileys-people.png') -610px -290px;
}

#twemoji-1f468-200d-1f373 {
  background: url('../sprits/smileys-people.png') -610px -330px;
}

#twemoji-1f468-200d-1f393 {
  background: url('../sprits/smileys-people.png') -610px -370px;
}

#twemoji-1f468-200d-1f466-200d-1f466 {
  background: url('../sprits/smileys-people.png') -610px -410px;
}

#twemoji-1f468-200d-1f466 {
  background: url('../sprits/smileys-people.png') -610px -450px;
}

#twemoji-1f468-200d-1f467-200d-1f466 {
  background: url('../sprits/smileys-people.png') -610px -490px;
}

#twemoji-1f468-200d-1f467-200d-1f467 {
  background: url('../sprits/smileys-people.png') -610px -530px;
}

#twemoji-1f468-200d-1f467 {
  background: url('../sprits/smileys-people.png') -610px -570px;
}

#twemoji-1f468-200d-1f468-200d-1f466-200d-1f466 {
  background: url('../sprits/smileys-people.png') -10px -610px;
}

#twemoji-1f468-200d-1f468-200d-1f466 {
  background: url('../sprits/smileys-people.png') -50px -610px;
}

#twemoji-1f468-200d-1f468-200d-1f467-200d-1f466 {
  background: url('../sprits/smileys-people.png') -90px -610px;
}

#twemoji-1f468-200d-1f468-200d-1f467-200d-1f467 {
  background: url('../sprits/smileys-people.png') -130px -610px;
}

#twemoji-1f468-200d-1f468-200d-1f467 {
  background: url('../sprits/smileys-people.png') -170px -610px;
}

#twemoji-1f468-200d-1f469-200d-1f466-200d-1f466 {
  background: url('../sprits/smileys-people.png') -210px -610px;
}

#twemoji-1f468-200d-1f469-200d-1f466 {
  background: url('../sprits/smileys-people.png') -250px -610px;
}

#twemoji-1f468-200d-1f469-200d-1f467-200d-1f466 {
  background: url('../sprits/smileys-people.png') -290px -610px;
}

#twemoji-1f468-200d-1f469-200d-1f467-200d-1f467 {
  background: url('../sprits/smileys-people.png') -330px -610px;
}

#twemoji-1f468-200d-1f469-200d-1f467 {
  background: url('../sprits/smileys-people.png') -370px -610px;
}

#twemoji-1f468-200d-1f527 {
  background: url('../sprits/smileys-people.png') -410px -610px;
}

#twemoji-1f468-200d-1f680 {
  background: url('../sprits/smileys-people.png') -450px -610px;
}

#twemoji-1f468-200d-1f692 {
  background: url('../sprits/smileys-people.png') -490px -610px;
}

#twemoji-1f468-200d-2695-fe0f {
  background: url('../sprits/smileys-people.png') -530px -610px;
}

#twemoji-1f468-200d-2696-fe0f {
  background: url('../sprits/smileys-people.png') -570px -610px;
}

#twemoji-1f468-200d-2708-fe0f {
  background: url('../sprits/smileys-people.png') -610px -610px;
}

#twemoji-1f468-200d-2764-fe0f-200d-1f48b-200d-1f468 {
  background: url('../sprits/smileys-people.png') -650px -10px;
}

#twemoji-1f468-200d-2764-fe0f-200d-1f468 {
  background: url('../sprits/smileys-people.png') -650px -50px;
}

#twemoji-1f468 {
  background: url('../sprits/smileys-people.png') -650px -90px;
}

#twemoji-1f469-200d-1f3a4 {
  background: url('../sprits/smileys-people.png') -650px -130px;
}

#twemoji-1f469-200d-1f3a8 {
  background: url('../sprits/smileys-people.png') -650px -170px;
}

#twemoji-1f469-200d-1f3eb {
  background: url('../sprits/smileys-people.png') -650px -210px;
}

#twemoji-1f469-200d-1f3ed {
  background: url('../sprits/smileys-people.png') -650px -250px;
}

#twemoji-1f469-200d-1f4bb {
  background: url('../sprits/smileys-people.png') -650px -290px;
}

#twemoji-1f469-200d-1f4bc {
  background: url('../sprits/smileys-people.png') -650px -330px;
}

#twemoji-1f469-200d-1f9af {
  background: url('../sprits/smileys-people.png') -650px -370px;
}

#twemoji-1f469-200d-1f9b0 {
  background: url('../sprits/smileys-people.png') -650px -410px;
}

#twemoji-1f469-200d-1f9b1 {
  background: url('../sprits/smileys-people.png') -650px -450px;
}

#twemoji-1f469-200d-1f9b2 {
  background: url('../sprits/smileys-people.png') -650px -490px;
}

#twemoji-1f469-200d-1f9b3 {
  background: url('../sprits/smileys-people.png') -650px -530px;
}

#twemoji-1f469-200d-1f9bc {
  background: url('../sprits/smileys-people.png') -650px -570px;
}

#twemoji-1f469-200d-1f9bd {
  background: url('../sprits/smileys-people.png') -650px -610px;
}

#twemoji-1f469-200d-1f33e {
  background: url('../sprits/smileys-people.png') -10px -650px;
}

#twemoji-1f469-200d-1f52c {
  background: url('../sprits/smileys-people.png') -50px -650px;
}

#twemoji-1f469-200d-1f373 {
  background: url('../sprits/smileys-people.png') -90px -650px;
}

#twemoji-1f469-200d-1f393 {
  background: url('../sprits/smileys-people.png') -130px -650px;
}

#twemoji-1f469-200d-1f466-200d-1f466 {
  background: url('../sprits/smileys-people.png') -170px -650px;
}

#twemoji-1f469-200d-1f466 {
  background: url('../sprits/smileys-people.png') -210px -650px;
}

#twemoji-1f469-200d-1f467-200d-1f466 {
  background: url('../sprits/smileys-people.png') -250px -650px;
}

#twemoji-1f469-200d-1f467-200d-1f467 {
  background: url('../sprits/smileys-people.png') -290px -650px;
}

#twemoji-1f469-200d-1f467 {
  background: url('../sprits/smileys-people.png') -330px -650px;
}

#twemoji-1f469-200d-1f469-200d-1f466-200d-1f466 {
  background: url('../sprits/smileys-people.png') -370px -650px;
}

#twemoji-1f469-200d-1f469-200d-1f466 {
  background: url('../sprits/smileys-people.png') -410px -650px;
}

#twemoji-1f469-200d-1f469-200d-1f467-200d-1f466 {
  background: url('../sprits/smileys-people.png') -450px -650px;
}

#twemoji-1f469-200d-1f469-200d-1f467-200d-1f467 {
  background: url('../sprits/smileys-people.png') -490px -650px;
}

#twemoji-1f469-200d-1f469-200d-1f467 {
  background: url('../sprits/smileys-people.png') -530px -650px;
}

#twemoji-1f469-200d-1f527 {
  background: url('../sprits/smileys-people.png') -570px -650px;
}

#twemoji-1f469-200d-1f680 {
  background: url('../sprits/smileys-people.png') -610px -650px;
}

#twemoji-1f469-200d-1f692 {
  background: url('../sprits/smileys-people.png') -650px -650px;
}

#twemoji-1f469-200d-2695-fe0f {
  background: url('../sprits/smileys-people.png') -690px -10px;
}

#twemoji-1f469-200d-2696-fe0f {
  background: url('../sprits/smileys-people.png') -690px -50px;
}

#twemoji-1f469-200d-2708-fe0f {
  background: url('../sprits/smileys-people.png') -690px -90px;
}

#twemoji-1f469-200d-2764-fe0f-200d-1f48b-200d-1f468 {
  background: url('../sprits/smileys-people.png') -690px -130px;
}

#twemoji-1f469-200d-2764-fe0f-200d-1f48b-200d-1f469 {
  background: url('../sprits/smileys-people.png') -690px -170px;
}

#twemoji-1f469-200d-2764-fe0f-200d-1f468 {
  background: url('../sprits/smileys-people.png') -690px -210px;
}

#twemoji-1f469-200d-2764-fe0f-200d-1f469 {
  background: url('../sprits/smileys-people.png') -690px -250px;
}

#twemoji-1f469 {
  background: url('../sprits/smileys-people.png') -690px -290px;
}

#twemoji-1f470 {
  background: url('../sprits/smileys-people.png') -690px -330px;
}

#twemoji-1f471-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -690px -370px;
}

#twemoji-1f471-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -690px -410px;
}

#twemoji-1f471 {
  background: url('../sprits/smileys-people.png') -690px -450px;
}

#twemoji-1f472 {
  background: url('../sprits/smileys-people.png') -690px -490px;
}

#twemoji-1f473-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -690px -530px;
}

#twemoji-1f473-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -690px -570px;
}

#twemoji-1f473 {
  background: url('../sprits/smileys-people.png') -690px -610px;
}

#twemoji-1f474 {
  background: url('../sprits/smileys-people.png') -690px -650px;
}

#twemoji-1f475 {
  background: url('../sprits/smileys-people.png') -10px -690px;
}

#twemoji-1f476 {
  background: url('../sprits/smileys-people.png') -50px -690px;
}

#twemoji-1f477-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -90px -690px;
}

#twemoji-1f477-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -130px -690px;
}

#twemoji-1f477 {
  background: url('../sprits/smileys-people.png') -170px -690px;
}

#twemoji-1f478 {
  background: url('../sprits/smileys-people.png') -210px -690px;
}

#twemoji-1f479 {
  background: url('../sprits/smileys-people.png') -250px -690px;
}

#twemoji-1f480 {
  background: url('../sprits/smileys-people.png') -290px -690px;
}

#twemoji-1f481-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -330px -690px;
}

#twemoji-1f481-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -370px -690px;
}

#twemoji-1f481 {
  background: url('../sprits/smileys-people.png') -410px -690px;
}

#twemoji-1f482-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -450px -690px;
}

#twemoji-1f482-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -490px -690px;
}

#twemoji-1f482 {
  background: url('../sprits/smileys-people.png') -530px -690px;
}

#twemoji-1f483 {
  background: url('../sprits/smileys-people.png') -570px -690px;
}

#twemoji-1f484 {
  background: url('../sprits/smileys-people.png') -610px -690px;
}

#twemoji-1f485 {
  background: url('../sprits/smileys-people.png') -650px -690px;
}

#twemoji-1f486-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -690px -690px;
}

#twemoji-1f486-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -730px -10px;
}

#twemoji-1f486 {
  background: url('../sprits/smileys-people.png') -730px -50px;
}

#twemoji-1f487-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -730px -90px;
}

#twemoji-1f487-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -730px -130px;
}

#twemoji-1f487 {
  background: url('../sprits/smileys-people.png') -730px -170px;
}

#twemoji-1f491 {
  background: url('../sprits/smileys-people.png') -730px -210px;
}

#twemoji-1f574 {
  background: url('../sprits/smileys-people.png') -730px -250px;
}

#twemoji-1f575-fe0f-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -730px -290px;
}

#twemoji-1f575-fe0f-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -730px -330px;
}

#twemoji-1f575 {
  background: url('../sprits/smileys-people.png') -730px -370px;
}

#twemoji-1f576 {
  background: url('../sprits/smileys-people.png') -730px -410px;
}

#twemoji-1f590 {
  background: url('../sprits/smileys-people.png') -730px -450px;
}

#twemoji-1f595 {
  background: url('../sprits/smileys-people.png') -730px -490px;
}

#twemoji-1f596 {
  background: url('../sprits/smileys-people.png') -730px -530px;
}

#twemoji-1f600 {
  background: url('../sprits/smileys-people.png') -730px -570px;
}

#twemoji-1f601 {
  background: url('../sprits/smileys-people.png') -730px -610px;
}

#twemoji-1f602 {
  background: url('../sprits/smileys-people.png') -730px -650px;
}

#twemoji-1f603 {
  background: url('../sprits/smileys-people.png') -730px -690px;
}

#twemoji-1f604 {
  background: url('../sprits/smileys-people.png') -10px -730px;
}

#twemoji-1f605 {
  background: url('../sprits/smileys-people.png') -50px -730px;
}

#twemoji-1f606 {
  background: url('../sprits/smileys-people.png') -90px -730px;
}

#twemoji-1f607 {
  background: url('../sprits/smileys-people.png') -130px -730px;
}

#twemoji-1f608 {
  background: url('../sprits/smileys-people.png') -170px -730px;
}

#twemoji-1f609 {
  background: url('../sprits/smileys-people.png') -210px -730px;
}

#twemoji-1f610 {
  background: url('../sprits/smileys-people.png') -250px -730px;
}

#twemoji-1f611 {
  background: url('../sprits/smileys-people.png') -290px -730px;
}

#twemoji-1f612 {
  background: url('../sprits/smileys-people.png') -330px -730px;
}

#twemoji-1f613 {
  background: url('../sprits/smileys-people.png') -370px -730px;
}

#twemoji-1f614 {
  background: url('../sprits/smileys-people.png') -410px -730px;
}

#twemoji-1f615 {
  background: url('../sprits/smileys-people.png') -450px -730px;
}

#twemoji-1f616 {
  background: url('../sprits/smileys-people.png') -490px -730px;
}

#twemoji-1f617 {
  background: url('../sprits/smileys-people.png') -530px -730px;
}

#twemoji-1f618 {
  background: url('../sprits/smileys-people.png') -570px -730px;
}

#twemoji-1f619 {
  background: url('../sprits/smileys-people.png') -610px -730px;
}

#twemoji-1f620 {
  background: url('../sprits/smileys-people.png') -650px -730px;
}

#twemoji-1f621 {
  background: url('../sprits/smileys-people.png') -690px -730px;
}

#twemoji-1f622 {
  background: url('../sprits/smileys-people.png') -730px -730px;
}

#twemoji-1f623 {
  background: url('../sprits/smileys-people.png') -770px -10px;
}

#twemoji-1f624 {
  background: url('../sprits/smileys-people.png') -770px -50px;
}

#twemoji-1f625 {
  background: url('../sprits/smileys-people.png') -770px -90px;
}

#twemoji-1f626 {
  background: url('../sprits/smileys-people.png') -770px -130px;
}

#twemoji-1f627 {
  background: url('../sprits/smileys-people.png') -770px -170px;
}

#twemoji-1f628 {
  background: url('../sprits/smileys-people.png') -770px -210px;
}

#twemoji-1f629 {
  background: url('../sprits/smileys-people.png') -770px -250px;
}

#twemoji-1f630 {
  background: url('../sprits/smileys-people.png') -770px -290px;
}

#twemoji-1f631 {
  background: url('../sprits/smileys-people.png') -770px -330px;
}

#twemoji-1f632 {
  background: url('../sprits/smileys-people.png') -770px -370px;
}

#twemoji-1f633 {
  background: url('../sprits/smileys-people.png') -770px -410px;
}

#twemoji-1f634 {
  background: url('../sprits/smileys-people.png') -770px -450px;
}

#twemoji-1f635 {
  background: url('../sprits/smileys-people.png') -770px -490px;
}

#twemoji-1f636 {
  background: url('../sprits/smileys-people.png') -770px -530px;
}

#twemoji-1f637 {
  background: url('../sprits/smileys-people.png') -770px -570px;
}

#twemoji-1f638 {
  background: url('../sprits/smileys-people.png') -770px -610px;
}

#twemoji-1f639 {
  background: url('../sprits/smileys-people.png') -770px -650px;
}

#twemoji-1f640 {
  background: url('../sprits/smileys-people.png') -770px -690px;
}

#twemoji-1f641 {
  background: url('../sprits/smileys-people.png') -770px -730px;
}

#twemoji-1f642 {
  background: url('../sprits/smileys-people.png') -10px -770px;
}

#twemoji-1f643 {
  background: url('../sprits/smileys-people.png') -50px -770px;
}

#twemoji-1f644 {
  background: url('../sprits/smileys-people.png') -90px -770px;
}

#twemoji-1f645-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -130px -770px;
}

#twemoji-1f645-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -170px -770px;
}

#twemoji-1f645 {
  background: url('../sprits/smileys-people.png') -210px -770px;
}

#twemoji-1f646-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -250px -770px;
}

#twemoji-1f646-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -290px -770px;
}

#twemoji-1f646 {
  background: url('../sprits/smileys-people.png') -330px -770px;
}

#twemoji-1f647-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -370px -770px;
}

#twemoji-1f647-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -410px -770px;
}

#twemoji-1f647 {
  background: url('../sprits/smileys-people.png') -450px -770px;
}

#twemoji-1f910 {
  background: url('../sprits/smileys-people.png') -490px -770px;
}

#twemoji-1f911 {
  background: url('../sprits/smileys-people.png') -530px -770px;
}

#twemoji-1f912 {
  background: url('../sprits/smileys-people.png') -570px -770px;
}

#twemoji-1f913 {
  background: url('../sprits/smileys-people.png') -610px -770px;
}

#twemoji-1f914 {
  background: url('../sprits/smileys-people.png') -650px -770px;
}

#twemoji-1f915 {
  background: url('../sprits/smileys-people.png') -690px -770px;
}

#twemoji-1f916 {
  background: url('../sprits/smileys-people.png') -730px -770px;
}

#twemoji-1f917 {
  background: url('../sprits/smileys-people.png') -770px -770px;
}

#twemoji-1f918 {
  background: url('../sprits/smileys-people.png') -810px -10px;
}

#twemoji-1f919 {
  background: url('../sprits/smileys-people.png') -810px -50px;
}

#twemoji-1f920 {
  background: url('../sprits/smileys-people.png') -810px -90px;
}

#twemoji-1f921 {
  background: url('../sprits/smileys-people.png') -810px -130px;
}

#twemoji-1f922 {
  background: url('../sprits/smileys-people.png') -810px -170px;
}

#twemoji-1f923 {
  background: url('../sprits/smileys-people.png') -810px -210px;
}

#twemoji-1f924 {
  background: url('../sprits/smileys-people.png') -810px -250px;
}

#twemoji-1f925 {
  background: url('../sprits/smileys-people.png') -810px -290px;
}

#twemoji-1f926-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -810px -330px;
}

#twemoji-1f926-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -810px -370px;
}

#twemoji-1f926 {
  background: url('../sprits/smileys-people.png') -810px -410px;
}

#twemoji-1f927 {
  background: url('../sprits/smileys-people.png') -810px -450px;
}

#twemoji-1f928 {
  background: url('../sprits/smileys-people.png') -810px -490px;
}

#twemoji-1f929 {
  background: url('../sprits/smileys-people.png') -810px -530px;
}

#twemoji-1f930 {
  background: url('../sprits/smileys-people.png') -810px -570px;
}

#twemoji-1f931 {
  background: url('../sprits/smileys-people.png') -810px -610px;
}

#twemoji-1f932 {
  background: url('../sprits/smileys-people.png') -810px -650px;
}

#twemoji-1f933 {
  background: url('../sprits/smileys-people.png') -810px -690px;
}

#twemoji-1f934 {
  background: url('../sprits/smileys-people.png') -810px -730px;
}

#twemoji-1f935 {
  background: url('../sprits/smileys-people.png') -810px -770px;
}

#twemoji-1f936 {
  background: url('../sprits/smileys-people.png') -10px -810px;
}

#twemoji-1f937-200d-2640-fe0f {
  background: url('../sprits/smileys-people.png') -50px -810px;
}

#twemoji-1f937-200d-2642-fe0f {
  background: url('../sprits/smileys-people.png') -90px -810px;
}

#twemoji-1f937 {
  background: url('../sprits/smileys-people.png') -130px -810px;
}

#twemoji-1f970 {
  background: url('../sprits/smileys-people.png') -170px -810px;
}

#twemoji-1f971 {
  background: url('../sprits/smileys-people.png') -210px -810px;
}

#twemoji-1f973 {
  background: url('../sprits/smileys-people.png') -250px -810px;
}

#twemoji-1f974 {
  background: url('../sprits/smileys-people.png') -290px -810px;
}

#twemoji-1f975 {
  background: url('../sprits/smileys-people.png') -330px -810px;
}

#twemoji-1f976 {
  background: url('../sprits/smileys-people.png') -370px -810px;
}

#twemoji-1fa70 {
  background: url('../sprits/smileys-people.png') -410px -810px;
}

#twemoji-1fa71 {
  background: url('../sprits/smileys-people.png') -450px -810px;
}

#twemoji-1fa72 {
  background: url('../sprits/smileys-people.png') -490px -810px;
}

#twemoji-1fa73 {
  background: url('../sprits/smileys-people.png') -530px -810px;
}

#twemoji-1fa78 {
  background: url('../sprits/smileys-people.png') -570px -810px;
}

#twemoji-26d1 {
  background: url('../sprits/smileys-people.png') -610px -810px;
}

#twemoji-261d {
  background: url('../sprits/smileys-people.png') -650px -810px;
}

#twemoji-263a {
  background: url('../sprits/smileys-people.png') -690px -810px;
}

#twemoji-270a {
  background: url('../sprits/smileys-people.png') -730px -810px;
}

#twemoji-270b {
  background: url('../sprits/smileys-people.png') -770px -810px;
}

#twemoji-270c {
  background: url('../sprits/smileys-people.png') -810px -810px;
}

#twemoji-270d {
  background: url('../sprits/smileys-people.png') -850px -10px;
}

#twemoji-2602 {
  background: url('../sprits/smileys-people.png') -850px -50px;
}

#twemoji-2620 {
  background: url('../sprits/smileys-people.png') -850px -90px;
}

#twemoji-2639 {
  background: url('../sprits/smileys-people.png') -850px -130px;
}
