#twemoji-1f0cf {
  background: url('../sprits/symbols.png') -10px -10px;
}

#twemoji-1f3a6 {
  background: url('../sprits/symbols.png') -50px -10px;
}

#twemoji-1f3b4 {
  background: url('../sprits/symbols.png') -10px -50px;
}

#twemoji-1f3b5 {
  background: url('../sprits/symbols.png') -50px -50px;
}

#twemoji-1f3b6 {
  background: url('../sprits/symbols.png') -90px -10px;
}

#twemoji-1f3e7 {
  background: url('../sprits/symbols.png') -90px -50px;
}

#twemoji-1f004 {
  background: url('../sprits/symbols.png') -10px -90px;
}

#twemoji-1f4a0 {
  background: url('../sprits/symbols.png') -50px -90px;
}

#twemoji-1f4a2 {
  background: url('../sprits/symbols.png') -90px -90px;
}

#twemoji-1f4a4 {
  background: url('../sprits/symbols.png') -130px -10px;
}

#twemoji-1f4ac {
  background: url('../sprits/symbols.png') -130px -50px;
}

#twemoji-1f4ad {
  background: url('../sprits/symbols.png') -130px -90px;
}

#twemoji-1f4ae {
  background: url('../sprits/symbols.png') -10px -130px;
}

#twemoji-1f4af {
  background: url('../sprits/symbols.png') -50px -130px;
}

#twemoji-1f4b1 {
  background: url('../sprits/symbols.png') -90px -130px;
}

#twemoji-1f4b2 {
  background: url('../sprits/symbols.png') -130px -130px;
}

#twemoji-1f4b9 {
  background: url('../sprits/symbols.png') -170px -10px;
}

#twemoji-1f4db {
  background: url('../sprits/symbols.png') -170px -50px;
}

#twemoji-1f4e2 {
  background: url('../sprits/symbols.png') -170px -90px;
}

#twemoji-1f4e3 {
  background: url('../sprits/symbols.png') -170px -130px;
}

#twemoji-1f4ef {
  background: url('../sprits/symbols.png') -10px -170px;
}

#twemoji-1f4f3 {
  background: url('../sprits/symbols.png') -50px -170px;
}

#twemoji-1f4f4 {
  background: url('../sprits/symbols.png') -90px -170px;
}

#twemoji-1f4f5 {
  background: url('../sprits/symbols.png') -130px -170px;
}

#twemoji-1f4f6 {
  background: url('../sprits/symbols.png') -170px -170px;
}

#twemoji-1f5a4 {
  background: url('../sprits/symbols.png') -210px -10px;
}

#twemoji-1f5e8 {
  background: url('../sprits/symbols.png') -210px -50px;
}

#twemoji-1f5ef {
  background: url('../sprits/symbols.png') -210px -90px;
}

#twemoji-1f6ab {
  background: url('../sprits/symbols.png') -210px -130px;
}

#twemoji-1f6ad {
  background: url('../sprits/symbols.png') -210px -170px;
}

#twemoji-1f6ae {
  background: url('../sprits/symbols.png') -10px -210px;
}

#twemoji-1f6af {
  background: url('../sprits/symbols.png') -50px -210px;
}

#twemoji-1f6b0 {
  background: url('../sprits/symbols.png') -90px -210px;
}

#twemoji-1f6b1 {
  background: url('../sprits/symbols.png') -130px -210px;
}

#twemoji-1f6b3 {
  background: url('../sprits/symbols.png') -170px -210px;
}

#twemoji-1f6b7 {
  background: url('../sprits/symbols.png') -210px -210px;
}

#twemoji-1f6b8 {
  background: url('../sprits/symbols.png') -250px -10px;
}

#twemoji-1f6b9 {
  background: url('../sprits/symbols.png') -250px -50px;
}

#twemoji-1f6ba {
  background: url('../sprits/symbols.png') -250px -90px;
}

#twemoji-1f6bb {
  background: url('../sprits/symbols.png') -250px -130px;
}

#twemoji-1f6bc {
  background: url('../sprits/symbols.png') -250px -170px;
}

#twemoji-1f6be {
  background: url('../sprits/symbols.png') -250px -210px;
}

#twemoji-1f6d0 {
  background: url('../sprits/symbols.png') -10px -250px;
}

#twemoji-1f6d1 {
  background: url('../sprits/symbols.png') -50px -250px;
}

#twemoji-1f7e0 {
  background: url('../sprits/symbols.png') -90px -250px;
}

#twemoji-1f7e1 {
  background: url('../sprits/symbols.png') -130px -250px;
}

#twemoji-1f7e2 {
  background: url('../sprits/symbols.png') -170px -250px;
}

#twemoji-1f7e3 {
  background: url('../sprits/symbols.png') -210px -250px;
}

#twemoji-1f7e4 {
  background: url('../sprits/symbols.png') -250px -250px;
}

#twemoji-1f7e5 {
  background: url('../sprits/symbols.png') -290px -10px;
}

#twemoji-1f7e6 {
  background: url('../sprits/symbols.png') -290px -50px;
}

#twemoji-1f7e7 {
  background: url('../sprits/symbols.png') -290px -90px;
}

#twemoji-1f7e8 {
  background: url('../sprits/symbols.png') -290px -130px;
}

#twemoji-1f7e9 {
  background: url('../sprits/symbols.png') -290px -170px;
}

#twemoji-1f7ea {
  background: url('../sprits/symbols.png') -290px -210px;
}

#twemoji-1f7eb {
  background: url('../sprits/symbols.png') -290px -250px;
}

#twemoji-1f9e1 {
  background: url('../sprits/symbols.png') -10px -290px;
}

#twemoji-1f17e {
  background: url('../sprits/symbols.png') -50px -290px;
}

#twemoji-1f17f {
  background: url('../sprits/symbols.png') -90px -290px;
}

#twemoji-1f18e {
  background: url('../sprits/symbols.png') -130px -290px;
}

#twemoji-1f19a {
  background: url('../sprits/symbols.png') -170px -290px;
}

#twemoji-1f21a {
  background: url('../sprits/symbols.png') -210px -290px;
}

#twemoji-1f22f {
  background: url('../sprits/symbols.png') -250px -290px;
}

#twemoji-1f23a {
  background: url('../sprits/symbols.png') -290px -290px;
}

#twemoji-1f49a {
  background: url('../sprits/symbols.png') -330px -10px;
}

#twemoji-1f49b {
  background: url('../sprits/symbols.png') -330px -50px;
}

#twemoji-1f49c {
  background: url('../sprits/symbols.png') -330px -90px;
}

#twemoji-1f49d {
  background: url('../sprits/symbols.png') -330px -130px;
}

#twemoji-1f49e {
  background: url('../sprits/symbols.png') -330px -170px;
}

#twemoji-1f49f {
  background: url('../sprits/symbols.png') -330px -210px;
}

#twemoji-1f50a {
  background: url('../sprits/symbols.png') -330px -250px;
}

#twemoji-1f51a {
  background: url('../sprits/symbols.png') -330px -290px;
}

#twemoji-1f51b {
  background: url('../sprits/symbols.png') -10px -330px;
}

#twemoji-1f51c {
  background: url('../sprits/symbols.png') -50px -330px;
}

#twemoji-1f51d {
  background: url('../sprits/symbols.png') -90px -330px;
}

#twemoji-1f51e {
  background: url('../sprits/symbols.png') -130px -330px;
}

#twemoji-1f51f {
  background: url('../sprits/symbols.png') -170px -330px;
}

#twemoji-1f52f {
  background: url('../sprits/symbols.png') -210px -330px;
}

#twemoji-1f53a {
  background: url('../sprits/symbols.png') -250px -330px;
}

#twemoji-1f53b {
  background: url('../sprits/symbols.png') -290px -330px;
}

#twemoji-1f53c {
  background: url('../sprits/symbols.png') -330px -330px;
}

#twemoji-1f53d {
  background: url('../sprits/symbols.png') -370px -10px;
}

#twemoji-1f54e {
  background: url('../sprits/symbols.png') -370px -50px;
}

#twemoji-1f55a {
  background: url('../sprits/symbols.png') -370px -90px;
}

#twemoji-1f55b {
  background: url('../sprits/symbols.png') -370px -130px;
}

#twemoji-1f55c {
  background: url('../sprits/symbols.png') -370px -170px;
}

#twemoji-1f55d {
  background: url('../sprits/symbols.png') -370px -210px;
}

#twemoji-1f55e {
  background: url('../sprits/symbols.png') -370px -250px;
}

#twemoji-1f55f {
  background: url('../sprits/symbols.png') -370px -290px;
}

#twemoji-1f90d {
  background: url('../sprits/symbols.png') -370px -330px;
}

#twemoji-1f90e {
  background: url('../sprits/symbols.png') -10px -370px;
}

#twemoji-1f170 {
  background: url('../sprits/symbols.png') -50px -370px;
}

#twemoji-1f171 {
  background: url('../sprits/symbols.png') -90px -370px;
}

#twemoji-1f191 {
  background: url('../sprits/symbols.png') -130px -370px;
}

#twemoji-1f192 {
  background: url('../sprits/symbols.png') -170px -370px;
}

#twemoji-1f193 {
  background: url('../sprits/symbols.png') -210px -370px;
}

#twemoji-1f194 {
  background: url('../sprits/symbols.png') -250px -370px;
}

#twemoji-1f195 {
  background: url('../sprits/symbols.png') -290px -370px;
}

#twemoji-1f196 {
  background: url('../sprits/symbols.png') -330px -370px;
}

#twemoji-1f197 {
  background: url('../sprits/symbols.png') -370px -370px;
}

#twemoji-1f198 {
  background: url('../sprits/symbols.png') -410px -10px;
}

#twemoji-1f199 {
  background: url('../sprits/symbols.png') -410px -50px;
}

#twemoji-1f201 {
  background: url('../sprits/symbols.png') -410px -90px;
}

#twemoji-1f202 {
  background: url('../sprits/symbols.png') -410px -130px;
}

#twemoji-1f232 {
  background: url('../sprits/symbols.png') -410px -170px;
}

#twemoji-1f233 {
  background: url('../sprits/symbols.png') -410px -210px;
}

#twemoji-1f234 {
  background: url('../sprits/symbols.png') -410px -250px;
}

#twemoji-1f235 {
  background: url('../sprits/symbols.png') -410px -290px;
}

#twemoji-1f236 {
  background: url('../sprits/symbols.png') -410px -330px;
}

#twemoji-1f237 {
  background: url('../sprits/symbols.png') -410px -370px;
}

#twemoji-1f238 {
  background: url('../sprits/symbols.png') -10px -410px;
}

#twemoji-1f239 {
  background: url('../sprits/symbols.png') -50px -410px;
}

#twemoji-1f250 {
  background: url('../sprits/symbols.png') -90px -410px;
}

#twemoji-1f251 {
  background: url('../sprits/symbols.png') -130px -410px;
}

#twemoji-1f300 {
  background: url('../sprits/symbols.png') -170px -410px;
}

#twemoji-1f441-200d-1f5e8 {
  background: url('../sprits/symbols.png') -210px -410px;
}

#twemoji-1f488 {
  background: url('../sprits/symbols.png') -250px -410px;
}

#twemoji-1f493 {
  background: url('../sprits/symbols.png') -290px -410px;
}

#twemoji-1f494 {
  background: url('../sprits/symbols.png') -330px -410px;
}

#twemoji-1f495 {
  background: url('../sprits/symbols.png') -370px -410px;
}

#twemoji-1f496 {
  background: url('../sprits/symbols.png') -410px -410px;
}

#twemoji-1f497 {
  background: url('../sprits/symbols.png') -450px -10px;
}

#twemoji-1f498 {
  background: url('../sprits/symbols.png') -450px -50px;
}

#twemoji-1f499 {
  background: url('../sprits/symbols.png') -450px -90px;
}

#twemoji-1f500 {
  background: url('../sprits/symbols.png') -450px -130px;
}

#twemoji-1f501 {
  background: url('../sprits/symbols.png') -450px -170px;
}

#twemoji-1f502 {
  background: url('../sprits/symbols.png') -450px -210px;
}

#twemoji-1f503 {
  background: url('../sprits/symbols.png') -450px -250px;
}

#twemoji-1f504 {
  background: url('../sprits/symbols.png') -450px -290px;
}

#twemoji-1f505 {
  background: url('../sprits/symbols.png') -450px -330px;
}

#twemoji-1f506 {
  background: url('../sprits/symbols.png') -450px -370px;
}

#twemoji-1f507 {
  background: url('../sprits/symbols.png') -450px -410px;
}

#twemoji-1f508 {
  background: url('../sprits/symbols.png') -10px -450px;
}

#twemoji-1f509 {
  background: url('../sprits/symbols.png') -50px -450px;
}

#twemoji-1f514 {
  background: url('../sprits/symbols.png') -90px -450px;
}

#twemoji-1f515 {
  background: url('../sprits/symbols.png') -130px -450px;
}

#twemoji-1f518 {
  background: url('../sprits/symbols.png') -170px -450px;
}

#twemoji-1f519 {
  background: url('../sprits/symbols.png') -210px -450px;
}

#twemoji-1f520 {
  background: url('../sprits/symbols.png') -250px -450px;
}

#twemoji-1f521 {
  background: url('../sprits/symbols.png') -290px -450px;
}

#twemoji-1f522 {
  background: url('../sprits/symbols.png') -330px -450px;
}

#twemoji-1f523 {
  background: url('../sprits/symbols.png') -370px -450px;
}

#twemoji-1f524 {
  background: url('../sprits/symbols.png') -410px -450px;
}

#twemoji-1f530 {
  background: url('../sprits/symbols.png') -450px -450px;
}

#twemoji-1f531 {
  background: url('../sprits/symbols.png') -490px -10px;
}

#twemoji-1f532 {
  background: url('../sprits/symbols.png') -490px -50px;
}

#twemoji-1f533 {
  background: url('../sprits/symbols.png') -490px -90px;
}

#twemoji-1f534 {
  background: url('../sprits/symbols.png') -490px -130px;
}

#twemoji-1f535 {
  background: url('../sprits/symbols.png') -490px -170px;
}

#twemoji-1f536 {
  background: url('../sprits/symbols.png') -490px -210px;
}

#twemoji-1f537 {
  background: url('../sprits/symbols.png') -490px -250px;
}

#twemoji-1f538 {
  background: url('../sprits/symbols.png') -490px -290px;
}

#twemoji-1f539 {
  background: url('../sprits/symbols.png') -490px -330px;
}

#twemoji-1f549 {
  background: url('../sprits/symbols.png') -490px -370px;
}

#twemoji-1f550 {
  background: url('../sprits/symbols.png') -490px -410px;
}

#twemoji-1f551 {
  background: url('../sprits/symbols.png') -490px -450px;
}

#twemoji-1f552 {
  background: url('../sprits/symbols.png') -10px -490px;
}

#twemoji-1f553 {
  background: url('../sprits/symbols.png') -50px -490px;
}

#twemoji-1f554 {
  background: url('../sprits/symbols.png') -90px -490px;
}

#twemoji-1f555 {
  background: url('../sprits/symbols.png') -130px -490px;
}

#twemoji-1f556 {
  background: url('../sprits/symbols.png') -170px -490px;
}

#twemoji-1f557 {
  background: url('../sprits/symbols.png') -210px -490px;
}

#twemoji-1f558 {
  background: url('../sprits/symbols.png') -250px -490px;
}

#twemoji-1f559 {
  background: url('../sprits/symbols.png') -290px -490px;
}

#twemoji-1f560 {
  background: url('../sprits/symbols.png') -330px -490px;
}

#twemoji-1f561 {
  background: url('../sprits/symbols.png') -370px -490px;
}

#twemoji-1f562 {
  background: url('../sprits/symbols.png') -410px -490px;
}

#twemoji-1f563 {
  background: url('../sprits/symbols.png') -450px -490px;
}

#twemoji-1f564 {
  background: url('../sprits/symbols.png') -490px -490px;
}

#twemoji-1f565 {
  background: url('../sprits/symbols.png') -530px -10px;
}

#twemoji-1f566 {
  background: url('../sprits/symbols.png') -530px -50px;
}

#twemoji-1f567 {
  background: url('../sprits/symbols.png') -530px -90px;
}

#twemoji-2a-20e3 {
  background: url('../sprits/symbols.png') -530px -130px;
}

#twemoji-2b1b {
  background: url('../sprits/symbols.png') -530px -170px;
}

#twemoji-2b1c {
  background: url('../sprits/symbols.png') -530px -210px;
}

#twemoji-2b05 {
  background: url('../sprits/symbols.png') -530px -250px;
}

#twemoji-2b06 {
  background: url('../sprits/symbols.png') -530px -290px;
}

#twemoji-2b07 {
  background: url('../sprits/symbols.png') -530px -330px;
}

#twemoji-2b55 {
  background: url('../sprits/symbols.png') -530px -370px;
}

#twemoji-21a9 {
  background: url('../sprits/symbols.png') -530px -410px;
}

#twemoji-21aa {
  background: url('../sprits/symbols.png') -530px -450px;
}

#twemoji-23-20e3 {
  background: url('../sprits/symbols.png') -530px -490px;
}

#twemoji-23cf {
  background: url('../sprits/symbols.png') -10px -530px;
}

#twemoji-23e9 {
  background: url('../sprits/symbols.png') -50px -530px;
}

#twemoji-23ea {
  background: url('../sprits/symbols.png') -90px -530px;
}

#twemoji-23eb {
  background: url('../sprits/symbols.png') -130px -530px;
}

#twemoji-23ec {
  background: url('../sprits/symbols.png') -170px -530px;
}

#twemoji-23ed {
  background: url('../sprits/symbols.png') -210px -530px;
}

#twemoji-23ee {
  background: url('../sprits/symbols.png') -250px -530px;
}

#twemoji-23ef {
  background: url('../sprits/symbols.png') -290px -530px;
}

#twemoji-23f8 {
  background: url('../sprits/symbols.png') -330px -530px;
}

#twemoji-23f9 {
  background: url('../sprits/symbols.png') -370px -530px;
}

#twemoji-23fa {
  background: url('../sprits/symbols.png') -410px -530px;
}

#twemoji-24c2 {
  background: url('../sprits/symbols.png') -450px -530px;
}

#twemoji-25aa {
  background: url('../sprits/symbols.png') -490px -530px;
}

#twemoji-25ab {
  background: url('../sprits/symbols.png') -530px -530px;
}

#twemoji-25b6 {
  background: url('../sprits/symbols.png') -570px -10px;
}

#twemoji-25c0 {
  background: url('../sprits/symbols.png') -570px -50px;
}

#twemoji-25fb {
  background: url('../sprits/symbols.png') -570px -90px;
}

#twemoji-25fc {
  background: url('../sprits/symbols.png') -570px -130px;
}

#twemoji-25fd {
  background: url('../sprits/symbols.png') -570px -170px;
}

#twemoji-25fe {
  background: url('../sprits/symbols.png') -570px -210px;
}

#twemoji-26a0 {
  background: url('../sprits/symbols.png') -570px -250px;
}

#twemoji-26aa {
  background: url('../sprits/symbols.png') -570px -290px;
}

#twemoji-26ab {
  background: url('../sprits/symbols.png') -570px -330px;
}

#twemoji-26ce {
  background: url('../sprits/symbols.png') -570px -370px;
}

#twemoji-26d4 {
  background: url('../sprits/symbols.png') -570px -410px;
}

#twemoji-27a1 {
  background: url('../sprits/symbols.png') -570px -450px;
}

#twemoji-27b0 {
  background: url('../sprits/symbols.png') -570px -490px;
}

#twemoji-27bf {
  background: url('../sprits/symbols.png') -570px -530px;
}

#twemoji-30-20e3 {
  background: url('../sprits/symbols.png') -10px -570px;
}

#twemoji-31-20e3 {
  background: url('../sprits/symbols.png') -50px -570px;
}

#twemoji-32-20e3 {
  background: url('../sprits/symbols.png') -90px -570px;
}

#twemoji-33-20e3 {
  background: url('../sprits/symbols.png') -130px -570px;
}

#twemoji-34-20e3 {
  background: url('../sprits/symbols.png') -170px -570px;
}

#twemoji-35-20e3 {
  background: url('../sprits/symbols.png') -210px -570px;
}

#twemoji-36-20e3 {
  background: url('../sprits/symbols.png') -250px -570px;
}

#twemoji-37-20e3 {
  background: url('../sprits/symbols.png') -290px -570px;
}

#twemoji-38-20e3 {
  background: url('../sprits/symbols.png') -330px -570px;
}

#twemoji-39-20e3 {
  background: url('../sprits/symbols.png') -370px -570px;
}

#twemoji-203c {
  background: url('../sprits/symbols.png') -410px -570px;
}

#twemoji-262a {
  background: url('../sprits/symbols.png') -450px -570px;
}

#twemoji-262e {
  background: url('../sprits/symbols.png') -490px -570px;
}

#twemoji-262f {
  background: url('../sprits/symbols.png') -530px -570px;
}

#twemoji-264a {
  background: url('../sprits/symbols.png') -570px -570px;
}

#twemoji-264b {
  background: url('../sprits/symbols.png') -610px -10px;
}

#twemoji-264c {
  background: url('../sprits/symbols.png') -610px -50px;
}

#twemoji-264d {
  background: url('../sprits/symbols.png') -610px -90px;
}

#twemoji-264e {
  background: url('../sprits/symbols.png') -610px -130px;
}

#twemoji-264f {
  background: url('../sprits/symbols.png') -610px -170px;
}

#twemoji-267b {
  background: url('../sprits/symbols.png') -610px -210px;
}

#twemoji-267e {
  background: url('../sprits/symbols.png') -610px -250px;
}

#twemoji-267f {
  background: url('../sprits/symbols.png') -610px -290px;
}

#twemoji-269b {
  background: url('../sprits/symbols.png') -610px -330px;
}

#twemoji-269c {
  background: url('../sprits/symbols.png') -610px -370px;
}

#twemoji-271d {
  background: url('../sprits/symbols.png') -610px -410px;
}

#twemoji-274c {
  background: url('../sprits/symbols.png') -610px -450px;
}

#twemoji-274e {
  background: url('../sprits/symbols.png') -610px -490px;
}

#twemoji-303d {
  background: url('../sprits/symbols.png') -610px -530px;
}

#twemoji-2049 {
  background: url('../sprits/symbols.png') -610px -570px;
}

#twemoji-2122 {
  background: url('../sprits/symbols.png') -10px -610px;
}

#twemoji-2139 {
  background: url('../sprits/symbols.png') -50px -610px;
}

#twemoji-2194 {
  background: url('../sprits/symbols.png') -90px -610px;
}

#twemoji-2195 {
  background: url('../sprits/symbols.png') -130px -610px;
}

#twemoji-2196 {
  background: url('../sprits/symbols.png') -170px -610px;
}

#twemoji-2197 {
  background: url('../sprits/symbols.png') -210px -610px;
}

#twemoji-2198 {
  background: url('../sprits/symbols.png') -250px -610px;
}

#twemoji-2199 {
  background: url('../sprits/symbols.png') -290px -610px;
}

#twemoji-2611 {
  background: url('../sprits/symbols.png') -330px -610px;
}

#twemoji-2622 {
  background: url('../sprits/symbols.png') -370px -610px;
}

#twemoji-2623 {
  background: url('../sprits/symbols.png') -410px -610px;
}

#twemoji-2626 {
  background: url('../sprits/symbols.png') -450px -610px;
}

#twemoji-2638 {
  background: url('../sprits/symbols.png') -490px -610px;
}

#twemoji-2640 {
  background: url('../sprits/symbols.png') -530px -610px;
}

#twemoji-2642 {
  background: url('../sprits/symbols.png') -570px -610px;
}

#twemoji-2648 {
  background: url('../sprits/symbols.png') -610px -610px;
}

#twemoji-2649 {
  background: url('../sprits/symbols.png') -650px -10px;
}

#twemoji-2650 {
  background: url('../sprits/symbols.png') -650px -50px;
}

#twemoji-2651 {
  background: url('../sprits/symbols.png') -650px -90px;
}

#twemoji-2652 {
  background: url('../sprits/symbols.png') -650px -130px;
}

#twemoji-2653 {
  background: url('../sprits/symbols.png') -650px -170px;
}

#twemoji-2660 {
  background: url('../sprits/symbols.png') -650px -210px;
}

#twemoji-2663 {
  background: url('../sprits/symbols.png') -650px -250px;
}

#twemoji-2665 {
  background: url('../sprits/symbols.png') -650px -290px;
}

#twemoji-2666 {
  background: url('../sprits/symbols.png') -650px -330px;
}

#twemoji-2668 {
  background: url('../sprits/symbols.png') -650px -370px;
}

#twemoji-2695 {
  background: url('../sprits/symbols.png') -650px -410px;
}

#twemoji-2705 {
  background: url('../sprits/symbols.png') -650px -450px;
}

#twemoji-2714 {
  background: url('../sprits/symbols.png') -650px -490px;
}

#twemoji-2716 {
  background: url('../sprits/symbols.png') -650px -530px;
}

#twemoji-2721 {
  background: url('../sprits/symbols.png') -650px -570px;
}

#twemoji-2733 {
  background: url('../sprits/symbols.png') -650px -610px;
}

#twemoji-2734 {
  background: url('../sprits/symbols.png') -10px -650px;
}

#twemoji-2747 {
  background: url('../sprits/symbols.png') -50px -650px;
}

#twemoji-2753 {
  background: url('../sprits/symbols.png') -90px -650px;
}

#twemoji-2754 {
  background: url('../sprits/symbols.png') -130px -650px;
}

#twemoji-2755 {
  background: url('../sprits/symbols.png') -170px -650px;
}

#twemoji-2757 {
  background: url('../sprits/symbols.png') -210px -650px;
}

#twemoji-2763 {
  background: url('../sprits/symbols.png') -250px -650px;
}

#twemoji-2764 {
  background: url('../sprits/symbols.png') -290px -650px;
}

#twemoji-2795 {
  background: url('../sprits/symbols.png') -330px -650px;
}

#twemoji-2796 {
  background: url('../sprits/symbols.png') -370px -650px;
}

#twemoji-2797 {
  background: url('../sprits/symbols.png') -410px -650px;
}

#twemoji-2934 {
  background: url('../sprits/symbols.png') -450px -650px;
}

#twemoji-2935 {
  background: url('../sprits/symbols.png') -490px -650px;
}

#twemoji-3030 {
  background: url('../sprits/symbols.png') -530px -650px;
}

#twemoji-3297 {
  background: url('../sprits/symbols.png') -570px -650px;
}

#twemoji-3299 {
  background: url('../sprits/symbols.png') -610px -650px;
}

#twemoji-a9 {
  background: url('../sprits/symbols.png') -650px -650px;
}

#twemoji-ae {
  background: url('../sprits/symbols.png') -690px -10px;
}
