#twemoji-1f3a0 {
  background: url('../sprits/travel-places.png') -10px -10px;
}

#twemoji-1f3a1 {
  background: url('../sprits/travel-places.png') -50px -10px;
}

#twemoji-1f3a2 {
  background: url('../sprits/travel-places.png') -10px -50px;
}

#twemoji-1f3cd {
  background: url('../sprits/travel-places.png') -50px -50px;
}

#twemoji-1f3ce {
  background: url('../sprits/travel-places.png') -90px -10px;
}

#twemoji-1f3d4 {
  background: url('../sprits/travel-places.png') -90px -50px;
}

#twemoji-1f3d5 {
  background: url('../sprits/travel-places.png') -10px -90px;
}

#twemoji-1f3d6 {
  background: url('../sprits/travel-places.png') -50px -90px;
}

#twemoji-1f3d7 {
  background: url('../sprits/travel-places.png') -90px -90px;
}

#twemoji-1f3d8 {
  background: url('../sprits/travel-places.png') -130px -10px;
}

#twemoji-1f3d9 {
  background: url('../sprits/travel-places.png') -130px -50px;
}

#twemoji-1f3da {
  background: url('../sprits/travel-places.png') -130px -90px;
}

#twemoji-1f3db {
  background: url('../sprits/travel-places.png') -10px -130px;
}

#twemoji-1f3dc {
  background: url('../sprits/travel-places.png') -50px -130px;
}

#twemoji-1f3dd {
  background: url('../sprits/travel-places.png') -90px -130px;
}

#twemoji-1f3de {
  background: url('../sprits/travel-places.png') -130px -130px;
}

#twemoji-1f3df {
  background: url('../sprits/travel-places.png') -170px -10px;
}

#twemoji-1f3e0 {
  background: url('../sprits/travel-places.png') -170px -50px;
}

#twemoji-1f3e1 {
  background: url('../sprits/travel-places.png') -170px -90px;
}

#twemoji-1f3e2 {
  background: url('../sprits/travel-places.png') -170px -130px;
}

#twemoji-1f3e3 {
  background: url('../sprits/travel-places.png') -10px -170px;
}

#twemoji-1f3e4 {
  background: url('../sprits/travel-places.png') -50px -170px;
}

#twemoji-1f3e5 {
  background: url('../sprits/travel-places.png') -90px -170px;
}

#twemoji-1f3e6 {
  background: url('../sprits/travel-places.png') -130px -170px;
}

#twemoji-1f3e8 {
  background: url('../sprits/travel-places.png') -170px -170px;
}

#twemoji-1f3e9 {
  background: url('../sprits/travel-places.png') -210px -10px;
}

#twemoji-1f3ea {
  background: url('../sprits/travel-places.png') -210px -50px;
}

#twemoji-1f3eb {
  background: url('../sprits/travel-places.png') -210px -90px;
}

#twemoji-1f3ec {
  background: url('../sprits/travel-places.png') -210px -130px;
}

#twemoji-1f3ed {
  background: url('../sprits/travel-places.png') -210px -170px;
}

#twemoji-1f3ef {
  background: url('../sprits/travel-places.png') -10px -210px;
}

#twemoji-1f3f0 {
  background: url('../sprits/travel-places.png') -50px -210px;
}

#twemoji-1f4b4 {
  background: url('../sprits/travel-places.png') -90px -210px;
}

#twemoji-1f4b5 {
  background: url('../sprits/travel-places.png') -130px -210px;
}

#twemoji-1f4b6 {
  background: url('../sprits/travel-places.png') -170px -210px;
}

#twemoji-1f4b7 {
  background: url('../sprits/travel-places.png') -210px -210px;
}

#twemoji-1f4ba {
  background: url('../sprits/travel-places.png') -250px -10px;
}

#twemoji-1f5fb {
  background: url('../sprits/travel-places.png') -250px -50px;
}

#twemoji-1f5fc {
  background: url('../sprits/travel-places.png') -250px -90px;
}

#twemoji-1f5fd {
  background: url('../sprits/travel-places.png') -250px -130px;
}

#twemoji-1f5fe {
  background: url('../sprits/travel-places.png') -250px -170px;
}

#twemoji-1f5ff {
  background: url('../sprits/travel-places.png') -250px -210px;
}

#twemoji-1f6a0 {
  background: url('../sprits/travel-places.png') -10px -250px;
}

#twemoji-1f6a1 {
  background: url('../sprits/travel-places.png') -50px -250px;
}

#twemoji-1f6a2 {
  background: url('../sprits/travel-places.png') -90px -250px;
}

#twemoji-1f6a3 {
  background: url('../sprits/travel-places.png') -130px -250px;
}

#twemoji-1f6a4 {
  background: url('../sprits/travel-places.png') -170px -250px;
}

#twemoji-1f6a5 {
  background: url('../sprits/travel-places.png') -210px -250px;
}

#twemoji-1f6a6 {
  background: url('../sprits/travel-places.png') -250px -250px;
}

#twemoji-1f6a7 {
  background: url('../sprits/travel-places.png') -290px -10px;
}

#twemoji-1f6a8 {
  background: url('../sprits/travel-places.png') -290px -50px;
}

#twemoji-1f6b2 {
  background: url('../sprits/travel-places.png') -290px -90px;
}

#twemoji-1f6c2 {
  background: url('../sprits/travel-places.png') -290px -130px;
}

#twemoji-1f6c3 {
  background: url('../sprits/travel-places.png') -290px -170px;
}

#twemoji-1f6c4 {
  background: url('../sprits/travel-places.png') -290px -210px;
}

#twemoji-1f6c5 {
  background: url('../sprits/travel-places.png') -290px -250px;
}

#twemoji-1f6d5 {
  background: url('../sprits/travel-places.png') -10px -290px;
}

#twemoji-1f6e3 {
  background: url('../sprits/travel-places.png') -50px -290px;
}

#twemoji-1f6e4 {
  background: url('../sprits/travel-places.png') -90px -290px;
}

#twemoji-1f6e5 {
  background: url('../sprits/travel-places.png') -130px -290px;
}

#twemoji-1f6e9 {
  background: url('../sprits/travel-places.png') -170px -290px;
}

#twemoji-1f6eb {
  background: url('../sprits/travel-places.png') -210px -290px;
}

#twemoji-1f6ec {
  background: url('../sprits/travel-places.png') -250px -290px;
}

#twemoji-1f6f0 {
  background: url('../sprits/travel-places.png') -290px -290px;
}

#twemoji-1f6f3 {
  background: url('../sprits/travel-places.png') -330px -10px;
}

#twemoji-1f6f4 {
  background: url('../sprits/travel-places.png') -330px -50px;
}

#twemoji-1f6f5 {
  background: url('../sprits/travel-places.png') -330px -90px;
}

#twemoji-1f6f8 {
  background: url('../sprits/travel-places.png') -330px -130px;
}

#twemoji-1f6fa {
  background: url('../sprits/travel-places.png') -330px -170px;
}

#twemoji-1f30b {
  background: url('../sprits/travel-places.png') -330px -210px;
}

#twemoji-1f30c {
  background: url('../sprits/travel-places.png') -330px -250px;
}

#twemoji-1f54b {
  background: url('../sprits/travel-places.png') -330px -290px;
}

#twemoji-1f54c {
  background: url('../sprits/travel-places.png') -10px -330px;
}

#twemoji-1f54d {
  background: url('../sprits/travel-places.png') -50px -330px;
}

#twemoji-1f68a {
  background: url('../sprits/travel-places.png') -90px -330px;
}

#twemoji-1f68b {
  background: url('../sprits/travel-places.png') -130px -330px;
}

#twemoji-1f68c {
  background: url('../sprits/travel-places.png') -170px -330px;
}

#twemoji-1f68d {
  background: url('../sprits/travel-places.png') -210px -330px;
}

#twemoji-1f68e {
  background: url('../sprits/travel-places.png') -250px -330px;
}

#twemoji-1f68f {
  background: url('../sprits/travel-places.png') -290px -330px;
}

#twemoji-1f69a {
  background: url('../sprits/travel-places.png') -330px -330px;
}

#twemoji-1f69b {
  background: url('../sprits/travel-places.png') -370px -10px;
}

#twemoji-1f69d {
  background: url('../sprits/travel-places.png') -370px -50px;
}

#twemoji-1f69c {
  background: url('../sprits/travel-places.png') -370px -90px;
}

#twemoji-1f69e {
  background: url('../sprits/travel-places.png') -370px -130px;
}

#twemoji-1f69f {
  background: url('../sprits/travel-places.png') -370px -170px;
}

#twemoji-1f301 {
  background: url('../sprits/travel-places.png') -370px -210px;
}

#twemoji-1f303 {
  background: url('../sprits/travel-places.png') -370px -250px;
}

#twemoji-1f304 {
  background: url('../sprits/travel-places.png') -370px -290px;
}

#twemoji-1f305 {
  background: url('../sprits/travel-places.png') -370px -330px;
}

#twemoji-1f306 {
  background: url('../sprits/travel-places.png') -10px -370px;
}

#twemoji-1f307 {
  background: url('../sprits/travel-places.png') -50px -370px;
}

#twemoji-1f309 {
  background: url('../sprits/travel-places.png') -90px -370px;
}

#twemoji-1f320 {
  background: url('../sprits/travel-places.png') -130px -370px;
}

#twemoji-1f386 {
  background: url('../sprits/travel-places.png') -170px -370px;
}

#twemoji-1f387 {
  background: url('../sprits/travel-places.png') -210px -370px;
}

#twemoji-1f391 {
  background: url('../sprits/travel-places.png') -250px -370px;
}

#twemoji-1f492 {
  background: url('../sprits/travel-places.png') -290px -370px;
}

#twemoji-1f680 {
  background: url('../sprits/travel-places.png') -330px -370px;
}

#twemoji-1f681 {
  background: url('../sprits/travel-places.png') -370px -370px;
}

#twemoji-1f682 {
  background: url('../sprits/travel-places.png') -410px -10px;
}

#twemoji-1f683 {
  background: url('../sprits/travel-places.png') -410px -50px;
}

#twemoji-1f684 {
  background: url('../sprits/travel-places.png') -410px -90px;
}

#twemoji-1f685 {
  background: url('../sprits/travel-places.png') -410px -130px;
}

#twemoji-1f686 {
  background: url('../sprits/travel-places.png') -410px -170px;
}

#twemoji-1f687 {
  background: url('../sprits/travel-places.png') -410px -210px;
}

#twemoji-1f688 {
  background: url('../sprits/travel-places.png') -410px -250px;
}

#twemoji-1f689 {
  background: url('../sprits/travel-places.png') -410px -290px;
}

#twemoji-1f690 {
  background: url('../sprits/travel-places.png') -410px -330px;
}

#twemoji-1f691 {
  background: url('../sprits/travel-places.png') -410px -370px;
}

#twemoji-1f692 {
  background: url('../sprits/travel-places.png') -10px -410px;
}

#twemoji-1f693 {
  background: url('../sprits/travel-places.png') -50px -410px;
}

#twemoji-1f694 {
  background: url('../sprits/travel-places.png') -90px -410px;
}

#twemoji-1f695 {
  background: url('../sprits/travel-places.png') -130px -410px;
}

#twemoji-1f696 {
  background: url('../sprits/travel-places.png') -170px -410px;
}

#twemoji-1f697 {
  background: url('../sprits/travel-places.png') -210px -410px;
}

#twemoji-1f698 {
  background: url('../sprits/travel-places.png') -250px -410px;
}

#twemoji-1f699 {
  background: url('../sprits/travel-places.png') -290px -410px;
}

#twemoji-1fa82 {
  background: url('../sprits/travel-places.png') -330px -410px;
}

#twemoji-1fa90 {
  background: url('../sprits/travel-places.png') -370px -410px;
}

#twemoji-26e9 {
  background: url('../sprits/travel-places.png') -410px -410px;
}

#twemoji-26ea {
  background: url('../sprits/travel-places.png') -450px -10px;
}

#twemoji-26f0 {
  background: url('../sprits/travel-places.png') -450px -50px;
}

#twemoji-26f1 {
  background: url('../sprits/travel-places.png') -450px -90px;
}

#twemoji-26f2 {
  background: url('../sprits/travel-places.png') -450px -130px;
}

#twemoji-26f4 {
  background: url('../sprits/travel-places.png') -450px -170px;
}

#twemoji-26f5 {
  background: url('../sprits/travel-places.png') -450px -210px;
}

#twemoji-26fa {
  background: url('../sprits/travel-places.png') -450px -250px;
}

#twemoji-26fd {
  background: url('../sprits/travel-places.png') -450px -290px;
}

#twemoji-2693 {
  background: url('../sprits/travel-places.png') -450px -330px;
}

#twemoji-2708 {
  background: url('../sprits/travel-places.png') -450px -370px;
}
